{% for item in cart.items %}
  {% render 'cart-item', item: item %}
{% endfor %}

{% if cart.items.size == 0 %}
  <div class="empty-cart">
    Your Cart Is Currently Empty
  </div>

  <style>

    .empty-cart {
      min-width: 15vw;
      max-width: 28vw;
      height: 80vh;
      margin: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-family: "Exposure";
      font-size: 1.2rem;
      color: black;
      text-align: center;
    }
    .Subtotal--price {
      display: none;
    }
    .Button--action[data-checkout] {
      display: none;
    }
  </style>
{% endif %}