{% for item in cart.items %}
  {% render 'cart-item', item: item %}
{% endfor %}

{% if cart.items.size == 0 %}
  <div class="empty-cart">Your cart is empty.</div>

  <style>
    .empty-cart {
      min-width: 15vw;
      max-width: 28vw;
      margin: 15rem auto;
      font-family: 'Exposure';
      font-size: 1.2rem;
      color: black;
      text-align: center;
    }
    .Subtotal--price {
      display: none;
    }
    .Button--action[data-checkout] {
      display: none;
    }
  </style>
{% endif %}