{% for item in cart.items %}
  {% render 'cart-item', item: item %}
{% endfor %}
<div class="" style="display:none" data-cartamount="{{ cart.item_count }}"></div>

{% if cart.items.size == 0 %}
  <div class="empty-cart">Your cart is empty.</div>

  <style>
    .empty-cart {
      min-width: 15vw;
      max-width: 28vw;
      margin: 15rem auto;
      font-family: 'Exposure';
      font-size: 1.2rem;
      color: black;
      text-align: center;
    }
    {% comment %}
      .Subtotal--price {
        display: none;
      }
      .Button--action[data-checkout] {
        display: none;
      }
    {% endcomment %}
  </style>
{% endif %}