<div class="letters">    
<svg class="letters" width="516" height="111" viewBox="0 0 516 111" fill="none" xmlns="http://www.w3.org/2000/svg">
<path class="LETTER-O1" d="M301.7 17.1196C291.6 8.41959 278.7 4.21959 265.4 5.11959C252.1 6.11959 240 12.2196 231.3 22.3196C213.3 43.2196 215.7 74.7196 236.6 92.7196C245.7 100.62 257.2 104.82 269.1 104.82C270.4 104.82 271.6 104.82 272.9 104.72C286.2 103.72 298.3 97.6196 307 87.5196C315.7 77.4196 319.9 64.5196 319 51.2196C317.9 37.9196 311.8 25.8196 301.7 17.1196V17.1196Z" fill="#a72828"/>
<path class="LETTER-O2" d="M492.1 17.1196C482 8.41959 469.1 4.21959 455.8 5.11959C442.5 6.11959 430.4 12.2196 421.7 22.3196C403.7 43.2196 406.1 74.7196 427 92.7196C436.1 100.62 447.6 104.82 459.5 104.82C460.8 104.82 462 104.82 463.3 104.72C476.6 103.72 488.7 97.6196 497.4 87.5196C506.1 77.4196 510.3 64.5196 509.4 51.2196C508.3 37.9196 502.2 25.8196 492.1 17.1196V17.1196Z" fill="#a72828"/>
<path class="LETTER-R" d="M205.2 78.8196C217.6 56.9196 212.8 30.1196 192.6 15.0196C172.2 -0.28039 143.7 2.21961 126.2 20.6196C117.5 29.8196 113 41.2196 112.6 55.4196V101.72C112.6 103.92 114.4 105.82 116.7 105.82C119 105.82 120.8 104.02 120.8 101.72V82.6196C123.4 86.5196 126.5 90.1196 130 93.1196C148.4 108.92 173.9 108.32 192.7 93.4196L204.1 104.82C205.7 106.42 208.3 106.42 209.8 104.82C211.4 103.22 211.4 100.62 209.8 99.1196L198.6 87.9196C198.9 87.5196 199.3 87.2196 199.6 86.8196C201.7 84.3196 203.6 81.6196 205.2 78.8196V78.8196Z" fill="#a72828"/>
<path class="LETTER-P" d="M88.5 17.1196C78.4 8.4196 65.5 4.2196 52.2 5.2196C38.9 6.2196 26.8 12.3196 18.1 22.4196C10.3 31.4196 6 43.0196 6 54.9196V101.72C6 103.92 7.8 105.72 10 105.72C12.2 105.72 14 103.92 14 101.72V82.1196C16.6 86.0196 19.7 89.6196 23.2 92.7196C44 110.72 75.6 108.32 93.6 87.4196C111.7 66.6196 109.3 35.1196 88.5 17.1196V17.1196Z" fill="#a72828"/>
<path class="LETTER-T" d="M392.6 5.91962H335.2C325.5 5.91962 317.6 13.8196 317.6 23.5196C317.6 33.2196 325.5 41.1196 335.2 41.1196H359.2V101.42C359.2 103.82 361.2 105.82 363.6 105.82C366 105.82 368 103.82 368 101.42V41.1196H392.6C402.3 41.1196 410.2 33.2196 410.2 23.5196C410.2 13.8196 402.3 5.91962 392.6 5.91962Z" fill="#a72828"/>
</svg>

<svg class="pill" viewBox="0 0 375 84" fill="#DB3232" xmlns="http://www.w3.org/2000/svg">  
   <defs>
         <mask id="mask-p">
            <path class="LETTER-P" d="M88.5 17.1196C78.4 8.4196 65.5 4.2196 52.2 5.2196C38.9 6.2196 26.8 12.3196 18.1 22.4196C10.3 31.4196 6 43.0196 6 54.9196V101.72C6 103.92 7.8 105.72 10 105.72C12.2 105.72 14 103.92 14 101.72V82.1196C16.6 86.0196 19.7 89.6196 23.2 92.7196C44 110.72 75.6 108.32 93.6 87.4196C111.7 66.6196 109.3 35.1196 88.5 17.1196V17.1196Z" fill="white"/>
            <path class='pill-1' d="M86.7299 49.2L49.2299 86.7C42.5299 93.4 31.6299 93.4 25.0299 86.7C18.3299 80 18.3299 69.1 25.0299 62.5L62.5199 25C65.8199 21.7 70.2199 20 74.6199 20C79.0199 20 83.4199 21.7 86.7199 25C93.4199 31.6 93.4199 42.5 86.7199 49.2H86.7299Z" fill="black"/>
         </mask>
         <mask id="mask-r">
            <path class="LETTER-R" d="M205.2 78.8196C217.6 56.9196 212.8 30.1196 192.6 15.0196C172.2 -0.28039 143.7 2.21961 126.2 20.6196C117.5 29.8196 113 41.2196 112.6 55.4196V101.72C112.6 103.92 114.4 105.82 116.7 105.82C119 105.82 120.8 104.02 120.8 101.72V82.6196C123.4 86.5196 126.5 90.1196 130 93.1196C148.4 108.92 173.9 108.32 192.7 93.4196L204.1 104.82C205.7 106.42 208.3 106.42 209.8 104.82C211.4 103.22 211.4 100.62 209.8 99.1196L198.6 87.9196C198.9 87.5196 199.3 87.2196 199.6 86.8196C201.7 84.3196 203.6 81.6196 205.2 78.8196V78.8196Z" fill="white"/>
            <path class='pill-2' d="M193.43 49.2L155.93 86.7C149.23 93.4 138.33 93.4 131.73 86.7C125.03 80 125.03 69.1 131.73 62.5L169.23 25C172.53 21.7 176.92 20 181.32 20C185.72 20 190.12 21.7 193.42 25C200.12 31.6 200.12 42.5 193.42 49.2H193.43Z" fill="black"/>
         </mask>
         <mask id="mask-o1">
            <path class="LETTER-O1" d="M301.7 17.1196C291.6 8.41959 278.7 4.21959 265.4 5.11959C252.1 6.11959 240 12.2196 231.3 22.3196C213.3 43.2196 215.7 74.7196 236.6 92.7196C245.7 100.62 257.2 104.82 269.1 104.82C270.4 104.82 271.6 104.82 272.9 104.72C286.2 103.72 298.3 97.6196 307 87.5196C315.7 77.4196 319.9 64.5196 319 51.2196C317.9 37.9196 311.8 25.8196 301.7 17.1196V17.1196Z" fill="white"/>
            <path class='pill-3' d="M299.86 49.39L262.36 86.89C255.66 93.59 244.76 93.59 238.16 86.89C231.46 80.19 231.46 69.29 238.16 62.69L275.66 25.19C278.96 21.89 283.36 20.19 287.76 20.19C292.16 20.19 296.56 21.89 299.86 25.19C306.56 31.79 306.56 42.69 299.86 49.39Z"  fill="black"/>
         </mask>
         <mask id="mask-o2">
            <path class="LETTER-O2" d="M492.1 17.1196C482 8.41959 469.1 4.21959 455.8 5.11959C442.5 6.11959 430.4 12.2196 421.7 22.3196C403.7 43.2196 406.1 74.7196 427 92.7196C436.1 100.62 447.6 104.82 459.5 104.82C460.8 104.82 462 104.82 463.3 104.72C476.6 103.72 488.7 97.6196 497.4 87.5196C506.1 77.4196 510.3 64.5196 509.4 51.2196C508.3 37.9196 502.2 25.8196 492.1 17.1196V17.1196Z" fill="white"/>
            <path class='pill-4' d="M490.34 49.39L452.84 86.89C446.14 93.59 435.24 93.59 428.64 86.89C421.94 80.19 421.94 69.29 428.64 62.69L466.14 25.19C469.44 21.89 473.84 20.19 478.24 20.19C482.64 20.19 487.04 21.89 490.34 25.19C497.04 31.79 497.04 42.69 490.34 49.39V49.39Z" fill="black" />
         </mask>
   </defs>
</svg>
</div>