{{'product.css' | asset_url | stylesheet_tag }}
<style>
/*Temporary PDP Fix*/
.letters{
display:none;
}
#shopify-section-header{
max-height: 3rem;
}

</style>


<div data-section-type="Product" class="SectionContainer ProductContainer">
    <div data-meta class="ProductMeta--Container">
            <div class="ProductMeta">
                <div class="ProductTitle"> {{ product.title }}</div>
            <div class="MetaItem ProductDescription">
                {{ product.description }}
            </div>
            </div>
    </div>

        <div class="ProductMedia--Container">
            <div class="ProductMedia">
        {% for media in product.media %}
        {% case media.media_type %}
        {% when 'image' %}
        <div class="Product--Image"><img class="Product--Image--Child" src="{{ media | img_url: "1000x" }}"></div>
        {% endcase %}
        {% endfor %}
            </div>
        </div>

        <div data-variant-container class="ProductVariant--Container">
            <div class="ProductVariant">
                TEST
            </div>
    </div>

</div>