<div class="sizing-wrapper">
  <div data-closemodal class="Modal--Close">
    {% render 'remove-icon' %}
  </div>
  <p>All Proto sizing is non-gendered. If you’re at the upper limit of the size range and prefer a roomier fit, we recommend sizing up. And if you don't get it right, let us know. We’ll swap it out for an available color of your choice.
  </p>
  <div class="size-grid">
    {{ product.metafields.custom.shoe_size_guide.value.content }}
  </div>
  <p>{{ product.metafields.custom.shoe_size_guide.value.title }}</p>
</div>