<style>

  .page-title {
    padding: 1rem;
    margin-right: var(--margin);
  }
  .featuredGood-Product {
    width: 50%;
    max-width: 50%;
    position: relative;
    max-height: 40vh;
    max-height: calc(var(--vh, 1vh) * 40);
  }

  .featuredGood-Product.first {
    border-right: var(--wireframe);
  }

  .featuredGood--Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px var(--margin);
    top: 0;
    z-index: 1;
    width: 100%;
    font-size: 14px;
    font-family: "Pressura";
    text-transform: uppercase;
  }

  .featuredGood--Image {
    margin: 0 auto;
    height: 100%;
  }

  .featuredGood--Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .featuredGoods--Title {
    text-align: center;
  }
</style>

<div class="page-title featuredGoods--Title">
  Featured Goods
</div>
<div class="featuredGoods--Wrapper SectionContainer">
  {% for product in product.metafields.shopify--discovery--product_recommendation.related_products.value limit: 2 %}
    <div class="featuredGood-Product {% if forloop.first %} first {% endif %}">
      <a href="{{ product.url }}">
        <div class="featuredGood--Header">
          <div class="featuredGood--Title">
            {{ product.title | split: " " | first }}
          </div>
          <div class="featuredGood--Category">
            {{ product.type }}
          </div>
        </div>
        <div class="featuredGood--Image">
          <img class="" src="{{ product.featured_image | img_url: '1000x' }}">
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Featured Goods",
    "settings": [],
    "presets": [
      {
        "name": "Featured Goods"
      }
    ]
  }
{% endschema %}