{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="login-content">
  <div class="title-group">
    <h1 class="page-title">Register</h1>
    <div class="forgotPW">
      <a href="{{ routes.account_login_url }}">Back to Login</a>
    </div>
  </div>
  <div class="login-form">
    <div class="input-area">
      {% form 'create_customer' %}

        <div class="field">
  
          <input
            id="firstName"
            name="customer[first_name]"
            type="text"
            autocomplete="given-name" contenteditable
            role="textbox" placeholder="First Name"></input>
        </div>
        <div class="field">
     
          <input
            id="lastName"
            name="customer[last_name]"
            type="text"
            autocomplete="family-name" contenteditable
            role="textbox" placeholder="Last Name"></input>
        </div>
        <div class="field">
         
          <input
            id="email-address"
            name="customer[email]"
            type="email"
            autocomplete="email"
            role="textbox" placeholder="Email"></input>
        </div>

        <div class="password field">
         
          <input
            id="password"
            name="customer[password]"
            type="password"
            autocomplete="new-password"
            role="textbox" placeholder="Password"></input>
        </div>

        <button class="submit">
          <div class="pill-tiny"></div>
          <input type="submit" value="Create Account" />
        </button>
        {% if form.errors %}
          <div class="error-form" role="alert">
            <p class="error-message">{{ form.errors | default_errors }}</p>
          </div>
        {% endif %}
      {% endform %}
    </div>
  </div>
</div>