<div class="page-wrapper">
  <h1 class="page-title">
    {{ page.title | escape }}
  </h1>
  <div class="page-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Main Page Template",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "header"
      }
    ]
  }
{% endschema %}