@font-face {
   font-family: "Exposure";
   src: url('https://cdn.shopify.com/s/files/1/0702/6042/5020/files/exposure.woff2?v=1678893020') format("truetype");
}

@font-face {
   font-family: "Pressura";
   src: url('https://cdn.shopify.com/s/files/1/0702/6042/5020/files/GT-Pressura-Mono-Regular.woff2?v=1678895659') format("woff2");
}

@font-face {
   font-family: "Pressura Medium";
   src: url('https://cdn.shopify.com/s/files/1/0702/6042/5020/files/GT-Pressura-Mono-Bold-Trial.woff2?v=1680554398') format("woff2");
}

@font-face {
   font-family: "Walsheim";
   src: url('https://cdn.shopify.com/s/files/1/0702/6042/5020/files/GT-Walsheim-Regular-Trial.woff2?v=1679004112') format("woff2");
}

:root {
   --marshmellow: #EFE5DC;
   --red: #A72828;
   --black: #000;
   --brown: #937D6A;
   --accent-brown: #C1B1A3;
   --margin: 16px;
   --wireframe: 0.5px solid rgb(0, 0, 0);
   --wireframethick: 1px solid black;
   --headerHeight: 25%;
   --headerMargin: 1rem;
   --shop-card-notation: 10px;
   --filter-notation: 0.8rem;
   --filter-exposure: 0.9rem;
   --footer-notation: 10px;
   --product-notation: 12px;
   --colorSVG: var(--red);
   --colorHTML: var(--black);
   --colorBG: none;
}

* {
   box-sizing: border-box;
}

html,
body {
   width: 100%;
   margin: 0;
   padding: 0;
   height: -webkit-fill-available;
}

body {
   min-height: 100vh;
   background-color: var(--marshmellow);
   min-height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   background: none;
   color: black;
   text-decoration: none;
}

button a:hover {
opacity: 0.5;
}

input:hover {
   opacity: 0.5;
   cursor: pointer;
}

details>summary {
   list-style: none;
}

details>summary::-webkit-details-marker {
   display: none;
}

img {
   max-width: 100%;
}

// utils
.grid {
   display: grid;
   column-gap: var(--grid-gutter);
}

.wire {
   border: 0.5px solid;
   position: fixed;
   top: 0;
   height: 100%;
   z-index: 5;
   color: var(--colorHTML);
}

.right {
   right: var(--margin);
}

.left {
   left: var(--margin);
}

.border_left {
   border-left: var(--wireframethick);
}

.border_right {
   border-right: var(--wireframethick);
}

.border_bottom {
   border-bottom: var(--wireframethick);
}

.pill-tiny {
   position: absolute;
   top: 50%;
   left: 0%;
   transform: translate(-0%, -50%) rotate(0deg);
   width: 12px;
   height: 24px;
   border: 1px solid var(--colorHTML);
   border-radius: 20px;
   transition: all 0.4s ease;
}

.module-link {
   position: relative;
   grid-area: 3 / 1;
   z-index: 2;
   border-bottom: solid 1px var(--colorHTML);
   display: flex;
}

.module-link a {
   margin-left: calc(2*var(--margin));
   text-transform: uppercase;
   padding: calc(var(--margin));
   font-family: "Pressura";
   font-size: 11px;
   color: var(--colorHTML);

}

.module-link .pill-tiny {
   margin-left: calc(var(--margin));
   left: 10px;
}

.pill-tiny:has(+ a:hover) {
   cursor: pointer;
   transform: translate(-0%, -50%) rotate(45deg);
}

.hidden {
   opacity: 0;
   pointer-events: none;
}

.remove {
   display: none;
}

.line {
   border: var(--wireframe);
   width: 100%;
   height: 1px;
}

.fixed {
   position: fixed;
}

svg * {
   transform-box: fill-box;
   display: block;
}

.template-index {
   overflow: hidden;
}

.template-index .content {
   overflow: scroll;
   height: 100vh;
   position: relative;
   top: var(--headerHeight);
   scroll-snap-points-y: repeat(100vh);
   scroll-snap-points-y: repeat(calc(var(--vh, 1vh) * 100));
   scroll-snap-type: y mandatory;
   min-height: -webkit-fill-available;
}

.template-index main section {

   min-width: 100vw; max-width: 100vw;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   scroll-snap-align: start;
   min-height: -webkit-fill-available;
}

.template-index main .footer-wrapper {
   min-width: unset;
   height: unset;
}

/* FOOTER */

.footer-wrapper {
   display: grid;
   grid-template-rows: 1fr auto auto;
   border-top: 1px solid black;
}

.footer-topbar {
   display: grid;
   grid-template-columns: 1fr 0.5fr;
   margin-left: var(--margin);
   margin-right: var(--margin);
}

.left-section {
   padding: 4rem 2rem;
   border-right: var(--wireframethick);
}

.signup-section {
   display: grid;
   grid-template-columns: 0.5fr 1fr;
   align-items: center;
}

.signup-section p {
   font-family: "Exposure";
   font-size: 3.5vw;
   text-align: center;
   line-height: 1;
   letter-spacing: -2px;
}

.signup-section span {
   font-variation-settings: 'EXPO'-50;
}

.right-section {
   justify-self: center;
}

.sitemap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 100%;
   width: 90%;
}

.proto-links,
.help-links {
   display: flex;
   flex-direction: column;
   padding: 0;
}

.proto-links {
   grid-area: 2 / 1;
}

.proto-links a,
.help-links a {
   font-family: 'Walsheim';
   padding: 4%;
   white-space: nowrap;
   font-size: 14px;
}
.proto-links a:hover,
.help-links a:hover {
  opacity: 0.5;
}

.sitemap p {
   font-family: "Pressura";
   text-transform: uppercase;
   color: var(--red);
   padding: 6% 6%;
   align-self: end;
}

.contact-buttons {
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
}

.contact-buttons a {
   font-family: "Pressura";
   text-transform: uppercase;
   padding: 1.5%;
   font-size: 12px;
}

.contact-buttons a:first-child {
   border-right: solid black 1px;
   width: 100%;
   text-align: center;
}

.contact-buttons a:hover {
   opacity: 0.5;
}

.copyright {
   font-family: "Pressura";
   text-transform: uppercase;
   padding: 1%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
}

.copyright a:hover {
   opacity: 0.5;
}

/* ERROR */

.error-wrapper {
   height: 50%;
   display: flex;
   align-items: flex-end;
}

.error-content {
   padding: 4vw;
   display: flex;
   width: 100vw; max-width: 100vw;
   align-items: center;
}

.error-content * {
   margin: var(--margin);
}

.error-content p,
.error-content h1 {
   font-weight: normal;
   font-family: "Exposure";
   white-space: nowrap;
}

.error-content a {
   font-family: "Pressura";
   text-transform: uppercase;
   white-space: nowrap;
}


.product-card {

   box-shadow: var(--shadow);
}

.card-content {
   margin: calc(var(--margin)/2);
   font-size: var(--shop-card-notation);
   z-index: 1;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.stacked {
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 10px;
   flex-basis: 33.33333%;
   aspect-ratio: 1 / 1;
   position: relative;
   overflow: hidden;
}



.loadmorebtn {
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   display: block;
   width: 100%;
   padding: 0.5rem;
}

/* // PDP */

#page-pdp-main {
   margin: var(--margin);
   grid-template-columns: 0.5fr 2fr 0.5fr;
}

#AddToBag {

   width: 100%;
   height: 6vh;
   height: calc(var(--vh, 1vh) * 6);
   border-top: var(--wireframe);
   border-bottom: var(--wireframe);
   background-color: var(--marshmellow);
   text-transform: uppercase;
   grid-column: 1/-1;
   position: sticky;
   bottom: 0;
}

#product-info {
   display: flex;
   flex-direction: column;
   /* // max-height: 45vh; */
   border-top: var(--wireframe);
   border-right: var(--wireframe);
   align-self: end;
   position: sticky;
   bottom: 6vh;
   bottom: calc(var(--vh, 1vh) * 6);
}

#product-info h1 {
   font-weight: normal;
   font-size: var(--section-title-size);
}

#product-info p {
   font-size: var(--body-size);
   text-transform: uppercase;
}

#product-links {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   text-align: left;
}

#product-links button p {
   font-size: var(--btn-small);
   text-transform: uppercase;
}

#cartTrigger {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

#cartTrigger:hover {
   opacity: 0.5;
}

.plink,
.expand {
   width: 50%;
   margin: 5%;
}

#product-images {
   display: flex;
   flex-direction: column;
   width: 100%;

}

#image-single {
   width: 100%;
   height: 100%;
}

#image-single img {
   width: 100%;
   height: auto;
}

#product-selector {
   display: flex;
   flex-direction: column;
   border-bottom: 0.5px solid black;
   border-left: 0.5px solid black;
   align-self: start;
   position: sticky;
   top: 8vh;
   top: calc(var(--vh, 1vh) * 8);
}

#productSelect {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
}

.mobileNav {
   display: none;
}

/* reset */
.reset {
   margin-top: 0;
}


[data-ajax-add] {
   cursor: pointer !important;
}

/* page styles */

.page-title {
   padding: 2rem;
   font-weight: normal;
   margin-left: var(--margin);
   font-size: 1.6rem;
   font-family: "Exposure";
}

.page-content {
   font-weight: normal;
   padding: 2rem;
   margin-left: var(--margin);
   font-family: "Walsheim";
   max-width: 70vw;
}

.page-content h1 {
   font-weight: normal;
   font-family: "Pressura";
   font-size: 0.8rem;
}

/* intersection observer */
.targetColor {
   transition: color 0.3s ease;
}

@media screen and (width <=458px) {
   .right {
      right: calc(var(--margin)/2);
   }

   .left {
      left: calc(var(--margin)/2);
   }
}

.template-index .content {
   top: 0;
}

.mainmenu-icon {
   flex-grow: 2;
   align-self: center;
   text-align-last: left;
   margin-left: var(--margin);
}

.mainmenu-icon svg,
.righticons svg {
   width: 6vw;
   height: auto;
}

.righticons {
   vertical-align: middle;
   margin-right: var(--margin);
}

.dropdowns {
   margin: calc(var(--margin)/2);
   width: 95vw;
}

.closebtn {
   width: 100%;
   border-top: var(--wireframethick);
   padding: calc(var(--margin)/2);
}


@media screen and (width < 649px) {

   .page-title {
      padding: 2rem 1rem;
      font-size: 1.4rem;
   }
   .template-index .content {
      top: 0;
      padding: 0;
   }

   .template-index main .footer-wrapper {
      height: calc(100vh - var(--headerHeight) + 4px);
      height: calc(calc(var(--vh, 1vh) * 95) - var(--headerHeight) + 4px);
   }

   .footer-wrapper {
      border-top: 0;
   }

   .footer-topbar {
      margin: 0 calc(var(--margin)/2);
      grid-template-columns: unset;
      grid-template-rows: 0.5fr 0.5fr;
      justify-content: center;
   }

   .signup-section {
      grid-template-columns: unset;
      gap: 6vh;
      gap: calc(var(--vh, 1vh) * 6);
      padding: 5%;
   }

   .signup-section p {
      font-size: 2.5rem;
      line-height: 1.1;
      text-align: left;
   }

   .left-section {
      padding: 5% 0;
      border-right: 0;
   }

   .right-section {
      width: 100%;
   }

   .sitemap {
      width: 100%;
      padding: 5% 10% 5% 11%;
      border-top: var(--wireframethick);
   }

   .sitemap p {
      font-size: 0.8rem;
   }

   .proto-links a, .help-links a {
      font-size: 0.8rem;
   }

   .contact-buttons a {
      padding: 6%;
   }
   .copyright {
      padding: 3%;
   }
}
@media screen and (width < 376) {
   .signup-section p {
      font-size: 2rem;
   }
   .signup-section {
      gap: 2%;
   
   }
}

