 .form-wrapper * {
   /* outline: 1px solid gray; */
 }

.form-wrapper {
   display: grid;
   grid-template-rows: auto 1fr;
   font-family: "Exposure";
   font-variation-settings: 'EXPO'0;
   border-top: var(--wireframe);
}


.form {
   margin: auto;
   transform: translateX(3rem);
   display: flex;
   flex-direction: column;
   width: 30vw;
}

.line {
   margin: 2%;
   flex-grow: 2;
}

.field {
   display: grid;
   grid-template-columns: auto 1fr 1fr;
   gap: 4%;
   padding: 6% 0%;
   align-items: center;
   justify-content: space-between;
   font-size: 0.9rem;
}

.field label {
   white-space: nowrap;

}

.message textarea, .field input {
  width: auto;
}

.submit {
   align-self: end;
}

.submit input {
   font-family: "Pressura";
   text-transform: uppercase;
   cursor: pointer;
}

.form-wrapper .pill-tiny {
   position: relative;
   top: 0;
   left: 0;
   transform: unset;
   margin-right: 0;
   /* display: inline-grid; */
 }

 .submit:hover .pill-tiny {
   transform: rotate(45deg);
 }
input, textarea {
   background: none;
   outline: none;
   border: none;
}

[contenteditable] {
   cursor: pointer;
}


#first-name[contenteditable]:empty::before {
   content: "Proto";
   color: gray;
   font-variation-settings: 'EXPO' 50;
 }
 #last-name[contenteditable]:empty::before {
   content: "Collective";
   color: gray;
   font-variation-settings: 'EXPO' 50;
 }
 #email[contenteditable]:empty::before {
   content: "email@email.com";
   color: gray;
   font-variation-settings: 'EXPO' 50;
 }

 #message {
   font-variation-settings: 'EXPO' 50;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
 }
 #message[contenteditable]:empty::before {
   content: "Give us a short summary";
   color: gray;
 }