 .form-wrapper * {
   /* outline: 1px solid gray; */
 }

.form-wrapper {
   display: grid;
   grid-template-rows: auto 1fr;
   font-family: "Exposure";
   font-variation-settings: 'EXPO'0;
   
}

.form-wrapper h1 {
   padding: 1rem;
   margin-left: var(--margin);
   font-size: 1.6rem;
}

.form {
   margin: auto;
   transform: translateX(3rem);
   display: flex;
   flex-direction: column;
   width: 30vw;
}

.line {
   margin: 2%;
   flex-grow: 2;
}

.field {
   display: grid;
   grid-template-columns: auto 1fr 1fr;
   gap: 4%;
   padding: 6% 0%;
   align-items: center;
   justify-content: space-between;
   font-size: 0.9rem;
}

.field label {
   white-space: nowrap;

}

.message textarea, .field input {
  width: auto;
}

.submit {
   align-self: end;
}

input, textarea {
   background: none;
   outline: none;
   border: none;
}


#first-name[contenteditable]:empty::before {
   content: "Proto";
   color: gray;
 }
 #last-name[contenteditable]:empty::before {
   content: "Collective";
   color: gray;
 }
 #email[contenteditable]:empty::before {
   content: "email@email.com";
   color: gray;
 }

 #message {
   /* display: block; */
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
 }
 #message[contenteditable]:empty::before {
   content: "Give us a short summary";
   color: gray;
 }