 .form-wrapper * {
   /* outline: 1px solid gray; */
 }

.form-wrapper {
   display: grid;
   grid-template-rows: auto 1fr;
   font-family: "Exposure";
   font-variation-settings: 'EXPO'0;
   border-top: var(--wireframe);
}


.form {
   margin: auto;
   transform: translateX(3rem);
   display: flex;
   flex-direction: column;
   width: 30vw;
}

.line {
   margin: 2%;
   flex-grow: 2;
}

.field {
   display: grid;
   grid-template-columns: auto 1fr 1fr;
   gap: 4%;
   padding: 6% 0%;
   align-items: center;
   justify-content: space-between;
   font-size: 0.9rem;
}

.field label {
   white-space: nowrap;

}

.message textarea, .field input {
  width: auto;
}

.submit {
   align-self: end;
}

.submit input {
   font-family: "Pressura";
   text-transform: uppercase;
   cursor: pointer;
}

.form-wrapper .pill-tiny {
   position: relative;
   top: 0;
   left: 0;
   transform: unset;
   margin-right: 0;
  
 }

 .submit:hover .pill-tiny {
   transform: rotate(45deg);
 }
input, textarea {
   background: none;
   outline: none;
   border: none;
   font-family: "Exposure";
}


input::placeholder {

   color: gray;
   font-family: "Exposure";
}


.success, .error {
 font-family: "Pressura";
 text-transform: uppercase;
 font-size: 0.7rem;
 padding: 2rem 1rem;
 text-align: center;
 display: flex;
}

.error p{
color: var(--red);
}


ul, li {
    padding: 0;
    margin: 0;
    color: var(--red);
}

.error * {
   padding-right: 1rem;
   white-space: nowrap;
}
