.login-content {
   border-top: var(--wireframe);
}

.title-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.forgotPW {
 
   text-transform: uppercase;
   padding: 2rem;
   margin-right: var(--margin);

}

.forgotPW p, .forgotPW a {
  margin: 10px 0px;
   font-family: "Pressura";
   font-size: 0.7rem;
}

.forgotPW p:hover, .forgotPW a:hover {
   color: var(--red);
   cursor: pointer;
}

ul, li {
   /* list-style: none; */
    padding: 0;
    margin: 0;
}

.line {
   border-color: var(--red);
}

.errors ul {
   display: flex;
}
.errors ul li {
   padding-right: 1rem;
}

.error-form {
   display: flex;
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 0.7rem;
   color: var(--red);
   padding: 1rem;
   align-self: center;
   white-space: nowrap;
}

.error-form a {
   color: var(--red);
   text-decoration: underline;
}


.input-area {
   margin: auto;
   transform: translateX(3rem);
   width: 30vw;
   font-family: "Exposure";
}

.input-area form {
   display: flex;
   flex-direction: column;
}

 .field {
   display: grid;
   grid-template-columns: auto 1fr auto;
   gap: 4%;
   padding: 6% 0%;
   align-items: center;
   justify-content: space-between;
   font-size: 0.9rem;
}

.submit {
   margin: 2rem;
   display: flex;
   align-self: end;
   align-items: center;
  
}

input {
   cursor: pointer;
   background: none;
    outline: none;
    border: none;
}

.submit .pill-tiny {
   position: relative;
   top: 0;
   left: 0;
   transform: unset;
   margin-right: 0;
}

.submit:hover .pill-tiny {
   transform: rotate(45deg);
 }

 ::placeholder {
   font-family: "Exposure";
   text-transform: none;
   color: gray;
   font-variation-settings: 'EXPO' 50;
 }

 .input-area input {
   font-family: "Exposure";
   text-transform: none;
 }

 .submit input {
   font-family: "Pressura";
   text-transform: uppercase;
 }