.login-content {
   border-top: var(--wireframe);
}

.title-group {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.forgotPW {
 
   text-transform: uppercase;
   padding: 2rem;
   margin-right: var(--margin);

}

.forgotPW p, .forgotPW a {
  margin: 10px 0px;
   font-family: "Pressura";
   font-size: 0.7rem;
}

.forgotPW p:hover, .forgotPW a:hover {
   color: var(--red);
   cursor: pointer;
}

ul, li {
   /* list-style: none; */
    padding: 0;
    margin: 0;
}


.errors ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.errors ul li {
   padding-right: 1rem;
}

.error-form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 0.7rem;
   color: var(--red);
   padding: 1rem;
   -ms-flex-item-align: center;
       -ms-grid-row-align: center;
       align-self: center;
   white-space: nowrap;
}

.error-form a {
   color: var(--red);
   text-decoration: underline;
}


.input-area {
   margin: auto;
   -webkit-transform: translateX(3rem);
       -ms-transform: translateX(3rem);
           transform: translateX(3rem);
   width: 30vw;
   
}

.input-area form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}

 .field {
   font-family: "Pressura";
    text-transform: none;
    padding: 4%;
    border: 1px solid;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-bottom: 4%;
}

.submit {
   margin: 2rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-item-align: end;
       -ms-grid-row-align: end;
       align-self: end;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

input {
   cursor: pointer;
   background: none;
    outline: none;
    border: none;
}

.submit .pill-tiny {
   position: relative;
   top: 0;
   left: 0;
   -webkit-transform: unset;
       -ms-transform: unset;
           transform: unset;
   margin-right: 0;
}

.submit:hover .pill-tiny {
   -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
           transform: rotate(45deg);
 }

 ::-webkit-input-placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 ::-moz-placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 :-ms-input-placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 ::-ms-input-placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 ::placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 .submit input {
   font-family: "Pressura";
   text-transform: uppercase;
 }