.login-content {
   border-top: var(--wireframe);
}

.title-group {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.forgotPW {
 
   text-transform: uppercase;
   padding: 2rem;
   margin-right: var(--margin);

}

.forgotPW p, .forgotPW a {
  margin: 10px 0px;
   font-family: "Pressura";
   font-size: 0.7rem;
}

.forgotPW p:hover, .forgotPW a:hover {
   color: var(--red);
   cursor: pointer;
}

ul, li {
   /* list-style: none; */
    padding: 0;
    margin: 0;
}


.errors ul {
   display: flex;
}
.errors ul li {
   padding-right: 1rem;
}

.error-form {
   display: flex;
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 0.7rem;
   color: var(--red);
   padding: 1rem;
   align-self: center;
   white-space: nowrap;
}

.error-form a {
   color: var(--red);
   text-decoration: underline;
}


.input-area {
   margin: auto;
   transform: translateX(3rem);
   width: 30vw;
   
}

.input-area form {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

 .field {
   font-family: "Pressura";
    text-transform: none;
    padding: 4%;
    border: 1px solid;
    border-radius: 50px;
    font-size: 0.9rem;
    margin-bottom: 4%;
}

.submit {
   margin: 2rem;
   display: flex;
   align-self: end;
   align-items: center;
}

input {
   cursor: pointer;
   background: none;
    outline: none;
    border: none;
}

.submit .pill-tiny {
   position: relative;
   top: 0;
   left: 0;
   transform: unset;
   margin-right: 0;
}

.submit:hover .pill-tiny {
   transform: rotate(45deg);
 }

 ::placeholder {
   font-family: "Pressura";
   text-transform: uppercase;
   color: black;
 }

 .submit input {
   color: black;
   font-family: "Pressura";
   text-transform: uppercase;
 }

 /* account */
.orders-wrapper {
   display: flex;
   flex-direction: column;
   border-top: 1px solid black;
}

.order-items-list {
   margin: 0 calc(4*var(--margin));
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}
.no-orders p {
   font-family: "Walsheim";
   text-transform: none;
   font-weight: normal;
   margin: calc(2*var(--margin)) calc(4*var(--margin));
}

.user-wrapper {
   padding-bottom: 2rem;
   border-top: 1px solid black;
}
.user-wrapper p {
   font-family: "Walsheim";
   font-weight: normal;
   margin: calc(2*var(--margin)) calc(4*var(--margin));
}
.user-wrapper a {
   margin-left: calc(2.5*var(--margin));
   text-transform: uppercase;
   font-family: "Pressura";
   font-size: 11px;
   color: var(--colorHTML);
   margin: calc(2*var(--margin)) calc(4*var(--margin));
}

/* orders */
.order-info-section {
   display: flex;
   justify-content: space-between;
}

.order-info {
   display: flex;
   flex-wrap: wrap;
   width: 65%;
}

.item-detail {
   display: flex;
   flex-direction: column;
}
.order-info p {
   padding-left: 4rem;
}

.order-info h1.page-title:first-child {
   padding-top: 0rem;
}

.order-info-wrapper {
   padding-bottom: 2rem;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.order-info-wrapper p, .order-info-wrapper span, .order-info-wrapper a, .order-info p {
   text-transform: uppercase;
   font-family: "Pressura";
   font-size: 14px;
   color: var(--colorHTML);
   white-space: nowrap;
}

 @media screen and (max-width: 649px) {

   .login-content {
          margin-right: calc(var(--margin)/2);
          border-bottom: 1px solid black;
   }
   .input-area {
      transform: translateX(0);
      width: 80vw;
   }
   .field {
      padding: 6%;
   }
   .title-group {
     
      flex-direction: column;
   }
   .page-title {
      white-space: nowrap;
      padding-bottom: 0;
      justify-self: start;
      width: 90%;
      font-size: 1.4rem;
   }
   .order-info h1.page-title:first-child {
      padding: 1rem 0;
  }
  .order-items-list {
   margin: 0 calc(2*var(--margin));
   margin-bottom: 3rem;
}
   .forgotPW {
      text-transform: uppercase;
      padding: 2rem;
      width: 100%;
  }
   .forgotPW p, .forgotPW a {
      font-family: "Pressura";
      font-size: 0.9rem;
      border-top: var(--wireframe);
      margin: 2em 0px;
  }

  .order-info-wrapper {
   flex-direction: column;
   border-bottom: 1px solid black;
  }
  .user-wrapper {
   width: 100%;
   border-bottom: 1px solid black;
  }
  .user-wrapper a { 
   font-size: 1rem;
   text-decoration: underline;
  }
  .order-info p {
   padding-left: 1rem;
}
.line {
   display: none;
}
 }