.editorial-content {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 100vw;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: end;
}

.editorial-grid {
   height: 90%;
   display: -ms-grid;
   display: grid;
   -ms-grid-rows: auto 1fr auto;
   grid-template-rows: auto 1fr auto;
   width: 100%;
}

.editorial-img {
   margin-left: var(--margin);
   margin-right: var(--margin);
   background-size: cover;
   border-radius: 28px;
}

.editorial-grid h1 {
   width: 100%;
   font-family: "Pressura";
   text-transform: uppercase;
   padding: 1%;
   -ms-grid-column-align: stretch;
       justify-self: stretch;
   text-align: center;
   font-size: var(--fontSize);

   border-bottom: solid 1px black;
}

.editorial-content .module-link { 
   border-top: solid 1px black;
}

@media screen and (width < 649px) { 
   .editorial-grid {
      height: calc(calc(var(--vh, 1vh) * 100) - var(--headerHeight));
   }

   .editorial-grid h1 {
      font-size: var(--fontSize);
      padding: 5%;
   }
}