
.editorial-content {
  position: relative;
  height: 100%;
}

.editorial-grid {
   position: absolute;
   top: var(--navHeight);
   width: 100vw;
   height: calc(calc(var(--vh, 1vh) * 100) - var(--navHeight));
   display: flex;
   flex-direction: column;
}

.editorial-img {
   margin-left: var(--margin);
   margin-right: var(--margin);
   height: 80%;
   object-fit: cover;
   flex-grow: 2;
   border-radius: 28px;
}

.editorial-img img { 
   width: 100%;
   height: 100%;
   border-radius: 28px;
   object-fit: cover;
}

.editorial-grid h1 {
   width: 100%;
   font-family: "Pressura";
   font-weight: normal;
   text-transform: uppercase;
   padding: 2%;
   justify-self: stretch;
   text-align: center;
   font-size: var(--fontSize);
   font-weight: normal;
   border-bottom: solid 1px black;
   
}

.editorial-content .module-link { 
   border-top: solid 1px black;
}

@media screen and (max-width: 649px) { 

   .editorial-grid {

      top: var(--headerHeight);  
      height: calc(calc(var(--vh, 1vh) * 100) - var(--headerHeight));

   }
   

   .editorial-grid h1 {
      font-size: var(--fontSize);
      padding: 3%;
   }
}