
.ending-content {
   position: relative;
   display: flex;
   width: 100vw; max-width: 100vw;
   overflow: hidden;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   align-items: end;
}

.ending-grid {
   position: absolute;
   width: 100vw;
   height: calc(100vh - var(--navHeight));
   display: flex;
   flex-direction: column;
   position: relative;
}

.ending-img {
   margin-left: var(--margin);
   margin-right: var(--margin);
   height: 80%;
   object-fit: cover;
   flex-grow: 2;
   border-radius: 28px;
}

.ending-img img { 
   width: 100%;
   height: 100%;
   border-radius: 28px;
   object-fit: cover;
}

.ending-title-wrap {
   position: absolute;
   display: flex;
   align-items: end;
   height: 95%;
   width: 100%;
   margin: 0 calc(2 * var(--margin));
}

.ending-grid h1 {
  
   font-weight: normal;
   width: 100%;
   font-family: "Exposure";
   text-align: center;
   font-size: var(--fontSize);
   white-space: nowrap;
   z-index: 2;
}
.ending-content .module-link { 
   border-top: var(--wireframe);
   border-bottom:  var(--wireframe);
}

@media screen and (width < 649px) { 
   .ending-img {
      margin: 0 calc(var(--margin) / 2);
   }
   .ending-grid {
      top: var(--headerHeight);  
      height: calc(calc(var(--vh, 1vh) * 100) - var(--headerHeight));
   }

   .ending-grid h1 {
      font-size: 3.7rem;
      width: auto;
      white-space: break-spaces;
      line-height: 1;
      padding-left: 4%;
      text-align: left;
   }
}
