
.ending-content {
   display: flex;
   width: 100vw;
   height: 100vh;
   align-items: end;
}

.ending-grid {
   height: 90%;
   display: grid;
   grid-template-rows: 1fr auto;
   width: 100%;
}

.ending-img {
   margin-left: var(--margin);
   margin-right: var(--margin);
   background-size: cover;
   border-radius: 28px;
   grid-area: 1 / 1;
}

.ending-grid h1 {
   width: 100%;
   font-family: "Exposure";
   justify-self: stretch;
   align-self: end;
   text-align: center;
   font-size: var(--fontSize);
   white-space: nowrap;
   grid-area: 1 / 1 ;
   z-index: 2;
   transform: translateY(1%);
}
.ending-content .module-link { 
   border-top: var(--wireframe);
   border-bottom:  var(--wireframe);
}

@media screen and (width < 649px) { 

   .ending-img {
      margin: 0 calc(var(--margin) / 2);
   }
   .ending-grid {
      height: calc(100vh - var(--headerHeight));
   }

   .ending-grid h1 {
      font-size: calc(var(--fontSize) - 4.5rem);
      width: auto;
      white-space: break-spaces;
      line-height: 1;
      padding-left: 4%;
      transform: translateY(0);
      text-align: left;
   }
}
