/*Global CSS to be Reused*/



/*Templfixes Laiqa*/
body{
    overflow-x: hidden;
}

.footer-wrapper{
    overflow-x: hidden;
}

.MainMenu--Wrapper{
    padding: 0 calc(var(--margin));
    display: flex;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in;
}

main {
    padding-top: var(--headerHeight);
}

.MainMenu{
    position: fixed;
    background: var(--marshmellow);
    left: 0;
    right: 0;
    top: 0;
}

.MainMenu.Fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}


.MainMenu.Fixed .MainMenu--center{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.MainMenu.Fixed *{
}

.MainMenu.Fixed .icon{
}

.MainMenu.Fixed .MainMenu--center .Logo{
    width: calc(100vw - 2*var(--margin));
    position: absolute;
    right: auto;
    top: 100%;
    margin: 0 auto;
    max-width: unset;
    height: auto;
}

.MainMenu.Fixed .MainMenu--center .Logo::after{
content: "";
padding-bottom: 100%;
}

.MainMenu--center{
    flex-basis: 40%;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.MainMenu--leftItem,.MainMenu--center,.MainMenu--rightItem{
    border-left: 1px solid black; 
}

.MainMenu--left,.MainMenu--right{
    display: flex;
    flex-basis: 30%;
    flex-grow: 1;
    align-items: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    font-size: 1.3rem;
    font-family: "Pressura";
}

.MainMenu--leftItem{
    flex-grow: 1;
    text-align: center;
    height: 100%;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainMenu--rightItem{
    flex-grow: 1;
    text-align: center;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}

.MainMenu--rightItem.icon{
    flex-grow: 0;
    padding: 20px 40px;
}

.MainMenu--rightItem.icon.search{
    flex-basis: 30%;
}

.SectionContainer{
    padding: 0 calc(var(--margin));
}

.SectionContainer:first-of-type{
}


.qty--wrapper{
    display: flex;
    font-size: 1.3rem;
}

.qty--button{
    margin: 0 5px;
    cursor: pointer;
}

.Collapsible{
    margin: 10px 0;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    cursor: pointer;
    font-weight: normal;

}

.Collapsible--button{
    height: 2rem;
    width: 1.4rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin-right: 5px;
}

.hide{
    display: none!important;
}

.Collapsible--label{
    text-transform: uppercase;
}


#CartDrawer{
    position: fixed;
    width: 350px;
    right: -350px;
    height: 100vh;
    transition: all 0.2s ease-in;
    top: 0;
    z-index: 20;
    background: var(--marshmellow);
    font-size: 1.3rem;
    border-left: 1px solid black;
}

#CartDrawer[aria-hidden="false"]{
    right:0;
}

.CartProducts{
    padding-top: 20px;
    overflow: scroll;
    max-height: calc(100% - 10rem);
}

.CartItem--Header,.CartItem--footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.CartItem--remove{
    aspect-ratio: 1 / 1;
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100%;
}

.CartItem--Image{
    text-align: center;
}

.CartItem{
    border-bottom: 1px solid black;
}

.CartItem img{
    width: 60%;
}



/*Global CSS Mobile*/

@media screen and (width <= 458px){  
.SectionContainer{
    padding: 0 calc(var(--margin)/2);
}
}

@media screen and (width < 649px){  
    .SectionContainer{
        padding: 0 calc(var(--margin)/2);
    }

    }