/*Global CSS to be Reused*/




/*Templfixes Laiqa*/
body {
   overflow-x: hidden;
}

.footer-wrapper {
   overflow-x: hidden;
}

.MainMenu--Wrapper {
   display: flex;
   width: 100%;
   margin-top: var(--headerMargin);
   transition: all 0.2s ease-in;
   background: var(--marshmellow);
}

main {
   padding-top: var(--headerHeight);
   /* padding-top: calc(2*var(--margin) + var(--headerHeight)); */
}

.MainMenu {
   position: fixed;

   left: 0;
   right: 0;
   top: 0;
   z-index: 3;

}

.MainMenu.Fixed {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;

}


.MainMenu.Fixed .MainMenu--center {
   position: relative;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;

}

.MainMenu.Fixed * {}

.MainMenu.Fixed .icon {}

.MainMenu.Fixed .MainMenu--center .Logo {
   width: calc(98vw - 2*var(--margin));
   position: absolute;
   right: auto;
   top: 110%;
   margin: 0 auto;
   max-width: unset;
   height: auto;
   transition: all 0.4s ease;
}

.MainMenu.Fixed .MainMenu--center .Logo::after {
   content: "";
   padding-bottom: 100%;
}

.MainMenu--center {
   flex-basis: 17%;
   max-width: 17%;
   text-align: center;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}


#DesktopLogo, .LogoPlaceholder {
   transition: all ease 0.4s;
}

.MainMenu.Fixed .MainMenu--center .Logo.endState {
   /* height: 3.5vw; */
   width: 100%;
   top: 0%;
   opacity: 0;
   z-index: -1;
}

.LogoPlaceholder {
   width: 100%;
   height: 100%;
   padding: 0.5%;
   padding-top: 1%;
}

.paddingtop {
   padding-top: calc(2*var(--margin) + var(--headerHeight));
}

.paddingtop {
   padding-top: calc(2*var(--margin) + var(--headerHeight));
}


.MainMenu--leftItem,
.MainMenu--center,
.MainMenu--rightItem {
   border-left: 1px solid black;
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 0.9rem;
}

.MainMenu--leftItem {
   border-left: none;
}

.shop {
   border-right: 1px solid black;
}

.MainMenu--left,
.MainMenu--right {
   display: flex;
   flex-basis: 41.5%;
   flex-grow: 1;
   align-items: center;
   border: 1px solid black;
   border-left: none;
   border-right: none;
   font-size: 1.3rem;
   font-family: "Pressura";
}

.MainMenu--leftItem {
   flex-grow: 1;
   text-align: center;
   height: 100%;
   vertical-align: center;
   display: flex;
   align-items: center;
   justify-content: center;


}

.MainMenu--rightItem {
   flex-grow: 1;
   text-align: center;
   height: 100%;
   align-items: center;
   display: flex;
   justify-content: center;
   position: relative;
}

.MainMenu--rightItem.icon {
  
}


.MainMenu--rightItem img {
   width: 100%;
   height: auto;
}

.SectionContainer {
   padding: 0 calc(var(--margin));
}

.SectionContainer:first-of-type {}

.qty--wrapper {
   display: flex;
   font-size: 1.3rem;
}

.qty--button {
   margin: 0 5px;
   cursor: pointer;
}

.Collapsible {
   margin: 10px 0;
   display: flex;
   font-size: 1.3rem;
   align-items: center;
   cursor: pointer;
   font-weight: normal;

}

.Collapsible--button {
   height: 2rem;
   width: 1.4rem;
   border: 1px solid black;
   border-radius: 1rem;
   margin-right: 5px;
}

.hide {
   display: none !important;
}

.Collapsible--label {
   text-transform: uppercase;
}

#CartDrawer {
   position: fixed;
   width: 350px;
   right: -350px;
   height: 100vh;
   transition: all 0.2s ease-in;
   top: 0;
   z-index: 20;
   background: var(--marshmellow);
   font-size: 1.3rem;
   border-left: 1px solid black;
}

#CartDrawer[aria-hidden="false"] {
   right: 0;
}

.CartProducts {
   padding-top: 20px;
   overflow: scroll;
   max-height: calc(100% - 10rem);
}

.CartItem--Header,
.CartItem--footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
}

.CartItem--Image {
   text-align: center;
}

.CartItem {
   border-bottom: 1px solid black;
}

.CartItem img {
   width: 60%;
}
/*Global CSS Mobile*/

@media screen and (width <=458px) {
   .SectionContainer {
      padding: 0 calc(var(--margin)/2);
   }

}

@media screen and (width < 649px) {

   .stacked {
      flex-basis: 100%;
      border: none;
      border-bottom: 1px solid black;
   }

   .product-grid {
      padding: 0 calc(var(--margin)/2);
   }

   .SectionContainer {
      padding: 0 calc(var(--margin)/2);
   }

   .left {
      left: calc(var(--margin)/2);
   }

   .right {
      right: calc(var(--margin)/2);
   }

}




.hide--desktop{
   display:none;
}
@media screen and (width < 649px){  
   .hide--desktop{
      display:block!important;
   }
.hide--phone{
    display:none!important;
}


.MainMenu--mobile{
    display: flex!important;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.Icon--Menu{
    width: 44px;
    height: 44px;
}

.Icon--Menu img{
    width: 100%;
    padding: 10px;
}

.MobileMenu--Items{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.MobileMenu--Items .closeButton{
padding: 10px;
border-top: 1px solid black;
border-bottom: 1px solid black;
width: 100%;
text-align: center;
}

.MainMenu--Wrapper{
    padding: 0 calc(var(--margin) / 2);
}

.MainMenu--mobile .Menu--middle{
    flex-grow: 1;
}

.MainMenu--Wrapper{
    flex-direction: column;
}


#DesktopLogo{
    width:100%!important;
    position: static!important;
}

main {
    padding-top: calc(var(--headerHeight) + var(--margin));
}

    .stacked{
        flex-basis: 100%;
        border:none;
        border-bottom: 1px solid black;
    }

    .product-grid{
        padding: 0!important;
        width: 100%!important;
        margin: 0!important;
    }

    .product-card{
        height: auto!important;
        aspect-ratio:  1 / 1;
    }

    .MainMenu--Wrapper{
        width: 100vw;
        overflow: hidden;
    }

    .MainMenu--right,.MainMenu--left{
        display:none;
    }

    .MainMenu--center{
        flex-basis: 100%;
        max-width: unset;
        border:none;
    }

    .MainMenu--center a{
    }

    .product-grid{
        margin: 0;
    }

    .SectionContainer{
        padding: 0 calc(var(--margin)/2);
    }

    .left{
        left: calc(var(--margin)/2);
    }

    .right{
        right: calc(var(--margin)/2);
    }

    }

.template-product #DesktopLogo {
   display: none;
}

[data-ajax-popup] {
   position: absolute;
   bottom: 0;
   transform: translateY(calc(-100% + 0px));
   background: var(--marshmellow);
   width: 100%;
   border-top: none;
   overflow: hidden;
   transition: all 0.2s ease-in;
}



[data-ajax-popup]{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(-100% + 0px));
    background: var(--marshmellow);
    width:100%;
    border-top: none;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

[data-ajax-popup].visible .stacked {
   border: none;
}

#cartButtonDrawer {
   position: absolute;
   top: 100%;
   width: 100%;
   height: 0;
   background: var(--marshmellow);
   border-top: none;
   overflow: hidden;
   transition: all 0.2s ease-in;
   border-left: 1px solid black;
   margin-left: -1px;
   font-size: 10px;
}

#cartButtonDrawer .CartProducts{
   pointer-events: none;
}

#cartButtonDrawer[aria-hidden=true] {
   height: calc(100vh - 100%);
}

#cartButtonDrawer[aria-hidden=false] .Button--action {
   display: none
}

.Cart--Buttons {
   position: absolute;
   width: 100%;
   bottom: calc(var(--margin) * 1);
   font-size: 1.1rem;
}

.Cart--Buttons .Button--action {
   width: 100%;
   display: block;
   padding: var(--margin);
   border-top: 1px solid black;
   cursor: pointer;
}

.Subtotal--price{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    font-family: "Exposure";
    padding: var(--margin)


}