"/* IMPACT */

.cover {
   grid-area: 1 / 1 / -1 / -1;
}

.cover img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cover video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.impact-content h1 {
   font-weight: normal;
   font-size: var(--fontSize);
   z-index: 2;
}

.centered  {
   align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / -1 / -1;
    margin-top: 12rem;
    font-size: 6rem;
    width: 45vw;
    font-family: "Exposure";
    color: var(--marshmellow);
    text-align: center;
    line-height: 0.9;
    font-variation-settings: 'EXPO' 0;
}

.word3 {
   font-variation-settings: 'EXPO' -50;
}

.leftBottom {
   align-self: end;
   justify-self: start;
   grid-area: 2 / 1;
   font-family: "Exposure";
   color: var(--marshmellow);
    line-height: 0.9;
    font-variation-settings: 'EXPO' 0;
    margin-left: calc(1.5*var(--margin));

}

.impact-content a::before:hover {
   transform: rotateX(45deg);
}

@media screen and (width < 649px) {

   .impact-content h1 {
      font-size: calc(var(--fontSize) - 1.6rem);
   }
   .centered {
      width: 80vw;
   }
}