"/* IMPACT */

.impact-wrapper {
   position: relative;
   width: 100vw;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
}

.cover {
   position: absolute;
   width: 100%;
   height: 100%;
}

.cover img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.cover video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.centered h1, .leftBottom h1 {
   font-weight: normal;
   font-size: var(--fontSize);
   z-index: 2;
   font-family: "Exposure";
   color: var(--marshmellow);
   line-height: 0.9;
}

#slogan {
   fill: var(--marshmellow);
   width: 30%;
}

.centered  {
   flex-grow: 2;
    z-index: 2;
    margin-top: calc(var(--headerHeight)/2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftBottom {
   flex-grow: 2;
   margin: calc(var(--margin)/2) calc(1.6*var(--margin));
   z-index: 2;
   text-align: left;
   display: flex;
   justify-content: start;
   align-items: end;
}

.leftBottom:has(.slogan) {
   margin: 0 calc(2 * var(--margin));
   margin-bottom: -12px;
 }

.word3 {
   font-variation-settings: 'EXPO' -50;
}


.impact-content a::before:hover {
   transform: rotateX(45deg);
}

@media screen and (width < 649px) {

   .impact-wrapper h1 {
      font-size: calc(var(--fontSize) - 1rem);
   }
   .leftBottom {
      margin: calc(var(--margin)/2) var(--margin);
  } 
   /* .centered {
      width: 90vw;
   }
  
}