
.marquee-content {
   display: -ms-grid;
   display: grid;
   width: 100vw;
   height: 100vh;
   grid-template-rows: 1fr auto auto;
   overflow: hidden;
}

.cover {
   grid-area: 1 / 1 / -1 / -1;
   position: relative;
}

.clipped {
   position: absolute;
   top: 45%;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
   width: 80vw;
   height: 60vh;
   background-size: cover;
   border-radius: 300px;
   border: solid black 1px;

}

.marquee {
   margin-left: var(--margin);
   margin-right: var(--margin);
    overflow-x: hidden;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1;
    height: 100%;
    z-index: 2;
}

.marquee h1 {
   font-size: var(--fontSize);
   margin-left: var(--margin);
   margin-right: var(--margin);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   color: black;
   padding: 0 6rem;
   -webkit-animation: marquee 27s linear infinite;
           animation: marquee 27s linear infinite;
}

.marquee-content span {
   font-family: "Exposure";
   /* font-size: 9rem; */
   padding: 0 1rem;
   -ms-flex-negative: 0;
       flex-shrink: 0;
   letter-spacing: -5px;
  
}

@-webkit-keyframes marquee {
   0% { -webkit-transform: translateX(0); transform: translateX(0); }
   100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
 }

@keyframes marquee {
   0% { -webkit-transform: translateX(0); transform: translateX(0); }
   100% { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
 }

 .marquee-content .module-link { 
   border-top: solid 1px black;
}

@media screen and (width < 649px) {

.clipped {
   top: 50%;
    
    width: 60vw;
    height: 60vh;
    background-position: bottom;
}

.marquee {
   margin: 0 calc(var(--margin) / 2);
}

.marquee h1 {
   font-size: calc(var(--fontSize)/2);
}
}