
.marquee-content {
   display: grid;
   width: 100vw;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);
   grid-template-rows: 1fr auto auto;
   overflow: hidden;
}

.cover {
   grid-area: 1 / 1 / -1 / -1;
   position: relative;
}

.clipped {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 80vw;
   height: 60vh;
   height: calc(var(--vh, 1vh) * 60);
   background-size: cover;
   border-radius: 300px;
   border: solid black 1px;

}

.marquee {
   margin-left: var(--margin);
   margin-right: var(--margin);
    overflow-x: hidden;
    grid-area: 2 / 1;
    height: 100%;
    z-index: 2;
}

.marquee h1 {
   font-size: var(--fontSize);
   margin-left: var(--margin);
   margin-right: var(--margin);
   display: flex;
   align-items: center;
   color: black;
   padding: 0 6rem;
   animation: marquee 27s linear infinite;
}

.marquee-content span {
   font-family: "Exposure";
   /* font-size: 9rem; */
   padding: 0 1rem;
   flex-shrink: 0;
   letter-spacing: -5px;
  
}

@keyframes marquee {
   0% { transform: translateX(0); }
   100% { transform: translateX(-100%); }
 }

 .marquee-content .module-link { 
   border-top: solid 1px black;
}

@media screen and (width < 649px) {

.clipped {
   top: 50%;
    width: 60vw;
    background-position: bottom;
}

.marquee {
   margin: 0 calc(var(--margin) / 2);
}

.marquee h1 {
   font-size: calc(var(--fontSize)/2);
}
}