
.pill-content {
   display: -ms-grid;
   display: grid;
   height: 100vh;
   grid-template-rows: 1fr auto;
   overflow: hidden;
}

.cover-crop {
   grid-area: 1 / 1 / -1 / -1;
   -ms-grid-column-align: center;
       justify-self: center;
   position: relative;
}

.pill-wrapper {
   position: relative;
   width: 100vw;
   height: 125vh;
   z-index: -1;
}

.pill-wrapper img {
   position: absolute;
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
      object-fit: cover;
}


.large-pill {
   position: absolute;
   width: 100vw;
   height: 135vh;
   height: calc(var(--vh, 1vh) * 135);
   transform: translateY(-10%);
   stroke-width: 1;
}

.mask-pill {
   margin-left: 50vw;
}

.pill-content h1 {
   font-family: "Exposure";
   font-size: var(--fontSize);
   -ms-grid-column-align: center;
       justify-self: center;
   display: -ms-grid;
   display: grid;
   width: 100%;
   -ms-grid-columns: 1fr 2% 1fr;
   grid-template-columns: 1fr 1fr;
   -ms-grid-rows: 0.5fr 2% 0.75fr 2% 0.5fr 2% 0.5fr;
   grid-template-rows: 0.5fr 0.75fr 0.5fr 0.5fr;
   gap: 2%;
   margin-left: var(--margin);
   margin-right: var(--margin);
   -ms-grid-row: 2;
   -ms-grid-column: 1;
   grid-area: 2 / 1;
}

.pill-content h1 > *:nth-child(1) {
   -ms-grid-row: 1;
   -ms-grid-column: 1;
}

.pill-content h1 > *:nth-child(2) {
   -ms-grid-row: 1;
   -ms-grid-column: 3;
}

.pill-content h1 > *:nth-child(3) {
   -ms-grid-row: 3;
   -ms-grid-column: 1;
}

.pill-content h1 > *:nth-child(4) {
   -ms-grid-row: 3;
   -ms-grid-column: 3;
}

.pill-content h1 > *:nth-child(5) {
   -ms-grid-row: 5;
   -ms-grid-column: 1;
}

.pill-content h1 > *:nth-child(6) {
   -ms-grid-row: 5;
   -ms-grid-column: 3;
}

.pill-content h1 > *:nth-child(7) {
   -ms-grid-row: 7;
   -ms-grid-column: 1;
}

.pill-content h1 > *:nth-child(8) {
   -ms-grid-row: 7;
   -ms-grid-column: 3;
}

.pill-content h1 span {
   letter-spacing: -10px;
}

.pill-word1 {
   -ms-grid-column-align: end;
       justify-self: end;
}

.pill-word2 {
   -ms-grid-row: 2;
   grid-row: 2;
   -ms-grid-column-align: end;
       justify-self: end;
}

.pill-word3 {
   -ms-grid-row: 3;
   -ms-grid-column: 2;
   grid-area: 3 / 2;
   -ms-grid-column-align: start;
       justify-self: start;
}


@media screen and (width < 649px) {

   /* :root {
      font-size: 8px;
   } */

   .pill-wrapper {
      height: 100vh;
   }

   .cover-crop {
      -ms-grid-column-align: unset;
          justify-self: unset;
   }

   .large-pill {
      position: absolute;
      width: 170vw;
      height: 160vw;
      left: 60%;
      top: 60%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      stroke-width: 2;
   }

   .pill-content h1 {
      font-size: calc(var(--fontSize) - 3.6rem);
      display: block;
      text-align: center;
      margin: 0 calc(var(--margin) / 2);
      line-height: 0.9;
      width: auto;
      margin-bottom: 50%;
   }

   .pill-content h1 span {
      letter-spacing: -7px;
   }
}