* {
   /* outline: 1px solid grey; */
}
.pill-tiny:has(+ div:hover) {
   cursor: pointer;
   transform: translate(0%, 0%) rotate(45deg);
}

.ProductContainer{
    display:flex;
    font-family: "Pressura";
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 var(--margin);
}

.ProductMeta--Container, .ProductVariant--Container{
    position: sticky;
    top: var(--headerHeight);
}

.ProductMeta--Container{
    top: var(--headerHeight)!important;
    height: calc(100vh - var(--headerHeight));
    /* width: 18.5%; */
    width: 15.3%;
    width: var(--shopWidth);
}

.ProductVariant--Container {
   width: 19.2%;
   width: var(--cartWidth);
}

.ProductMedia--Mobile{
    display:none!important;
}

.ProductMeta{
   position: absolute;
   top: -2px;
   padding: 10% 10% 4% 8%; 
   border: 1px solid black;
}
.ProductTitle {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}
.product_colorway {
   font-family: "Walsheim";
   text-transform: inherit;
   font-size: 0.8rem;
}

.ProductTitle p { 
   font-family: "Exposure";
   font-variation-settings: 'EXPO'-30;
   font-size: 1.3rem;
   margin-bottom: 2rem;
}
.ProductTitle p:last-child {
   font-family: "Pressura";
   font-size: 0.8rem;
}

.ProductDescription {
   text-transform: unset;
   font-family: "Walsheim";
   font-size: 0.9rem;
   margin-bottom: 2rem;
   height: 4rem;
   overflow: hidden;
   text-overflow: ellipsis;
}

.ProductAtcSmall{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 5px;
   border-top: 1px solid black;
   padding: 16px;
   font-size: 0.8rem;
}


.ProductAtcSmall:hover {
   background: var(--accent-brown);
   cursor: pointer;
}

.Collapsible .pill-tiny {
   position: relative;
    transform: rotate(0deg);
    margin-right: 5%;
}

.Collapsible{
   margin: 4% 0;
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: normal;
}


.Collapsible--label{
   text-transform: uppercase;
   font-size: var(--product-notation);
}

.Collapsible .pill-tiny.hovered{
   transform: rotate(45deg);
   
}

.sizing-wrapper {
   border: 1px solid black;
   text-transform: uppercase;
   font-size: 0.8rem;
   width: 90vw;
   margin: auto;
   position: relative;
}
.sizing-wrapper p {
   max-width: 30vw;
   padding: 1rem;
}

.size-grid {
   display: grid;
   grid-template-rows: repeat(4, 50%);
   grid-template-columns: 10% repeat(13, 4%);
   grid-gap: 2%;
   padding: 5rem 3rem;
}

.size-label {
   grid-column: 1;
}

.size-grid span {
   border-top: var(--wireframe);
}

.ProductMedia--Container{
    max-width: 50%;
    position: relative;
}

.ProductMedia--Counter{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    margin-top: 4%;
    top: calc(var(--headerHeight)/2);
    z-index: 5;
    width: 100%;
    left: 0;
    right: 0;
}

.Product--Image--Anchor{
   height: 4px;
   border: var(--wireframethick);
   border-radius: 15px;
   width: 20px;
   cursor: pointer;
}

.Product--Image--Anchor.active{
    background: black;
    overflow: hidden;
}

.optionsNameContainer:first-of-type {
   border-top: none;
}


.ProductMedia img{
    width: 100%;
    margin-bottom: var(--margin);
}

.ProductVariant{
    display: block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.optionsNameContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--product-notation);
    border-bottom:var(--wireframethick);
    border-top: var(--wireframethick);
}

.optionsNameContainer.topContainer {
   border-top: none;
}

.optionValuesContainer{
    padding: 6% 16%;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--product-notation);
    justify-content: space-between;
}

.optionValuesContainer label{
    flex-basis: calc(100% / 7);
    text-align: center;
    padding: 0.7rem 0.5rem;
    transition: border 0.2s ease-in;
    border: 1px solid transparent;
    border-radius: 200px;
    cursor: pointer;
    text-transform: uppercase;
}

.optionValuesContainer:last-child label {
   padding: 0rem 1rem;
}

input[type="radio"]:checked+label{ 
    font-weight: bold; 
    border: 1px solid black;
    border-radius: 200px;
} 
.productQty{
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--product-notation);
    justify-content: space-between;
}
.qty--wrapper{
   display: flex;
   font-size: calc( 1.5 * var(--product-notation));
}
.qty--button {
   font-size: calc( 1.5 * var(--product-notation));
   margin: 0 10px;
   cursor: pointer;
}

.Mobile--ProductSlider .Mobile--ProductImage{
height: 70vh;
}

.stickyATC{
    display: none;
}

.stickyATC:hover {
   background-color: var(--accent-brown);
   /* opacity: 0.5; */
}

.template-product .pill-tiny{
   position: unset;
   top: unset;
    left: unset;
    transform: unset;
  
}
.Product-Meta .pill-tiny{
   margin: 0% 4%;
}

.pill-tiny.vert {
   height: 12px;
   width: 24px;
   margin: 0% 1%;
}

.Mobile--ProductImage{
    width: 100%;
}

.Mobile--ProductImage img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

.MetaItem{
    transition: all 0.2s ease-in;
}

[data-shipping-container],[data-sizing-container]{
    overflow: hidden;
    height: 0;
    width: 16vw;
}

.shipping-wrapper {
    margin: 2rem 0;
    text-transform: unset;
    font-family: "Walsheim";
    font-size: 0.9rem;
}

.shipping-wrapper a {
   text-decoration: underline;
}

.featuredGoods--Wrapper {
   display: flex;
   flex-wrap: wrap;
   border-top: var(--wireframe);
   margin: 0 var(--margin);
 }

 @media screen and (max-width: 649px) {

   :root {
     --product-notation: 14px;
   }

.flickity-page-dots{
   bottom: -40px;
   width: 90%;
   left: 50%;
   transform: translateX(-50%)
}

.flickity-prev-next-button{
   display: none;
    top:unset;
    transform:unset;
    background: transparent;
}

.flickity-page-dots .dot{
   background: none;
   margin: 0 5px;
   width: 24px;
   transition: all 0.2s ease-in;
   border-radius: 5px;
   border: 1px solid black;
   opacity: 1;
   height: 5px;

}
.flickity-page-dots .dot.is-selected {
   background: black;
}
    .data-variant-price{
        display:none;
    }
    .ProductMedia--Container{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
   
    .Product--Image{
        width: 100%;
        padding:0;
    }

    .Product--Image img{
        width: 100%;
        height: auto;
    }

    .ProductMedia{
        display:none;
    }

    .ProductMedia--Mobile{
        display:block!important;
        min-height: 50vh;
     
    }

    [data-shipping-container], [data-sizing-container] {
      width: 100%;
    }
    .sizing-wrapper {
      height: calc(var(--vh, 1vh) * 100);
    }

    .sizing-wrapper p {
      max-width: unset;
      padding: 2rem;
    }
    .size-grid {
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(4, 23%);
      grid-template-rows: 20% repeat(13, 10%);
      grid-auto-flow: column;
    }
    .size-label {
      grid-column: unset;
      grid-row: 1;
    }

    .ProductMeta--Container, .ProductVariant--Container {
        position: static;
        width: 100%;
        
    }
    .ProductVariant--Container{
    order: 2;
    width: auto;
    margin: 0 calc(var(--margin) / 2);
    border-top: var(--wireframe);
    }

    .ProductVariant {
      margin-right:0 ;
      border-bottom: none;
    }
    
    .ProductContainer{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .ProductMeta--Container{
        order: 2;
        top: unset;
        height: auto;
    }

    .ProductMeta{
      position: static;
      border: none;
      padding: 8%;
      margin-top: 20%;
      border-top: 1px solid black;
      padding-right: 8%;
    }
    .ProductTitle p {
      font-size: 1.6rem;
    }

   .ProductDescription {
      font-size: 1rem;
      max-width: 72vw;
   }
    .stickyATC {
      z-index: 2;
      font-size: 1rem;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      position: sticky;
      order: 2;
      bottom: 0;
      left: 0;
      padding: 5% 0;
      display: flex;
      justify-content: end;
      align-items: center;
      width: 100vw;
      background: var(--marshmellow);
      padding-right: var(--margin);
    }

    .pill-tiny.vert {
      margin: 0% 2%;
  }

    .ProductAtcSmall {
      display: none;
    }

    .featuredGoods--Wrapper {
      margin: 0 calc(var(--margin) / 2);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
}
