.ProductContainer{
    display:flex;
    font-family: "Pressura";
    flex-wrap: wrap;
    justify-content: space-between;
}

.ProductMeta--Container, .ProductVariant--Container{
   width: 21.6%;
    position: sticky;
    top: calc(var(--headerHeight) - 2px);
}

.ProductMeta--Container{
    top: var(--stickyHeight)!important;
    height: calc(calc(var(--vh, 1vh) * 100) - var(--stickyHeight));
    left: var(--margin);
}

.ProductMedia--Mobile{
    display:none!important;
}

.ProductMeta{
   position: absolute;
   bottom: var(--stickyHeight);
   padding: 10% 16% 4% 8%;
   border: 1px solid black;
}

.ProductTitle{
   font-family: "Exposure";
   font-size: 1.3rem;
   margin-bottom: 2rem;
}

.ProductDescription {
   text-transform: uppercase;
   font-size: var(--product-notation);
   margin-bottom: 2rem;
   height: 4rem;
   overflow: hidden;
   text-overflow: ellipsis;
}

.Collapsible .pill-tiny {
   position: relative;
    transform: rotate(0deg);
    margin-right: 5%;
}

.Collapsible{
   margin: 4% 0;
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: normal;
}


.Collapsible--label{
   text-transform: uppercase;
   font-size: var(--product-notation);
}

.Collapsible .pill-tiny.hovered{
   transform: rotate(45deg);
   
}

.sizing-wrapper {
   overflow-x: scroll;
   overflow-y: hidden;
   width: 100%;
   height: 12vh;
   height: calc(var(--vh, 1vh) * 12);
   padding-top: 5%;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-size: 0.8rem;
   cursor: ew-resize;
}

.size-grid {
   
   display: grid;
   grid-template-rows: repeat(4, 30%);
   grid-template-columns: 50% repeat(14, 15%);
   grid-gap: 4%;
}

.size-label {
   grid-column: 1;
}

.size-grid span {
   border-top: var(--wireframe);
}

.ProductMedia--Container{
    max-width: 50%;
    position: relative;
}

.ProductMedia--Counter{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    margin-top: 4%;
    top: calc(var(--headerHeight)/2);
    z-index: 5;
    width: 100%;
    left: 0;
    right: 0;
}

.Product--Image--Anchor{
   height: 4px;
   border: var(--wireframethick);
   border-radius: 15px;
   width: 20px;
   cursor: pointer;
}

.Product--Image--Anchor.active{
    background: black;
    overflow: hidden;
}

.optionsNameContainer:first-of-type {
   border-top: none;
}


.ProductMedia img{
    width: 100%;
    margin-bottom: var(--margin);
}

.ProductVariant{
   margin-right: var(--margin);
    display: block;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.optionsNameContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--product-notation);
    border-bottom:var(--wireframethick);
    border-top: var(--wireframethick);
}

.optionsNameContainer.topContainer {
   border-top: none;
}

.optionValuesContainer{
    padding: 6% 16%;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--product-notation);
    justify-content: space-between;
}

.optionValuesContainer label{
    flex-basis: calc(100% / 7);
    text-align: center;
    padding: 0.7rem 0.5rem;
    transition: border 0.2s ease-in;
    border: 1px solid transparent;
    border-radius: 200px;
    cursor: pointer;
    text-transform: uppercase;
}

.optionValuesContainer:last-child label {
   padding: 0rem 1rem;
}

input[type="radio"]:checked+label{ 
    font-weight: bold; 
    border: 1px solid black;
    border-radius: 200px;
} 
.productQty{
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--product-notation);
    justify-content: space-between;
}
.qty--wrapper{
   display: flex;
   font-size: calc( 1.5 * var(--product-notation));
}
.qty--button {
   font-size: calc( 1.5 * var(--product-notation));
   margin: 0 10px;
   cursor: pointer;
}

.stickyATC{
    cursor: pointer;
    position: sticky;
    width: 100vw;
    padding: 1%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    bottom: 0;
    left: 0;
    background: var(--marshmellow);
    order: 2;
}

.stickyATC:hover {
   background-color: var(--accent-brown);
   /* opacity: 0.5; */
}

.template-product .pill-tiny{
   position: unset;
   top: unset;
    left: unset;
    transform: unset;
  
}
.Product-Meta .pill-tiny{
   margin: 0% 4%;
}

.pill-tiny.vert {
   height: 12px;
   width: 24px;
   margin: 0% 1%;
}

.Mobile--ProductImage{
    width: 100%;
}

.Mobile--ProductImage img{
    width: 100%;
    max-width: 100%;
}

.MetaItem{
    transition: all 0.2s ease-in;
}

[data-shipping-container],[data-sizing-container]{
    overflow: hidden;
    height: 0;
    width: 16vw;
}

.shipping-wrapper {
   text-transform: uppercase;
    font-size: var(--product-notation);
    margin: 2rem 0;
}

.featuredGoods--Wrapper {
   display: flex;
   flex-wrap: wrap;
   border-top: var(--wireframe);
   margin: 0 var(--margin);
 }

@media screen and (width < 649px){

   :root {
     --product-notation: 14px;
   }

.flickity-page-dots{
    bottom: 20px;
}

.flickity-prev-next-button{
   display: none;
    top:unset;
    transform:unset;
    background: transparent;
}

.flickity-page-dots .dot{
   background: none;
   margin: 0 5px;
width: 30px;
transition: all 0.2s ease-in;
border-radius: 5px;
border: 1px solid black;
opacity: 1;

}
.flickity-page-dots .dot.is-selected {
   background: black;
}
    .data-variant-price{
        display:none;
    }
    .ProductMedia--Container{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
   
    .Product--Image{
        width: 100%;
        padding:0;
    }

    .Product--Image img{
        width: 100%;
        height: auto;
    }

    .ProductMedia{
        display:none;
    }

    .ProductMedia--Mobile{
        display:block!important;
        min-height: 50vh;
        min-height: calc(var(--vh, 1vh) * 50);
    }

    [data-shipping-container], [data-sizing-container] {
      width: 100%;
    }
    .sizing-wrapper {
      height: 15vh;
      height: calc(var(--vh, 1vh) * 15);
      font-size: 1rem;
    }

    .ProductMeta--Container, .ProductVariant--Container {
        position: static;
        width: 100%;
        
    }
    .ProductVariant--Container{
    order: 2;
    width: auto;
    margin: 0 calc(var(--margin) / 2);
    border-top: var(--wireframe);
    }

    .ProductVariant {
      margin-right:0 ;
      border-bottom: none;
    }
    
    .ProductContainer{
        display: flex;
        flex-direction: column;
    }

    .ProductMeta--Container{
        order: 2;
        top: unset;
        height: auto;
    }

    .ProductMeta{
      position: static;
      border: none;
      padding: 8%;
      padding-top: 16%;
      padding-right: 16%;
    }
    .ProductTitle {
      font-size: 2rem;
    }
  
    .stickyATC {
      padding: 5%;
      justify-content: end;
    }

    .featuredGoods--Wrapper {
      margin: 0 calc(var(--margin) / 2);
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
}
