.ProductContainer{
    display:flex;
    font-family: "Pressura";
}

.ProductMeta--Container, .ProductVariant--Container{
    width: 25%;
    position: sticky;
    top: calc(var(--headerHeight) - 2px);
}

.ProductMeta--Container{

}

.ProductMedia--Mobile{
    display:none!important;
}

.ProductMeta{
   position: absolute;
   bottom: var(--stickyHeight);
   padding: 10% 16% 4% 8%;
   border: 1px solid black;
}

.ProductTitle{
   font-family: "Exposure";
   font-size: 1.3rem;
   margin-bottom: 2rem;
}

.ProductDescription {
   text-transform: uppercase;
   font-size: var(--product-notation);
   margin-bottom: 2rem;
}

.Collapsible .pill-tiny {
   position: relative;
    transform: rotate(0deg);
    margin-right: 5%;
}

.Collapsible{
   margin: 8% 0;
   display: flex;
   align-items: center;
   cursor: pointer;
   font-weight: normal;
}


.Collapsible--label{
   text-transform: uppercase;
   font-size: var(--product-notation);
}

.ProductMedia--Container{
    max-width: 60%;
    position: relative;
}

.ProductMedia--Counter{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    padding: 2rem;
    top: calc(var(--headerHeight)/2);
    z-index: 5;
    width: 100%;
    left: 0;
    right: 0;
}

.Product--Image--Anchor{
   height: 4px;
   border: var(--wireframethick);
   border-radius: 15px;
   width: 20px;
   cursor: pointer;
}

.Product--Image--Anchor.active{
    background: black;
    overflow: hidden;
}

.ProductMedia{
    padding: 0 3rem;
}

.ProductMedia img{
    width: 100%;
    margin-bottom: var(--margin);
}

.ProductVariant{
    display: block;
    border: 1px solid black;
}

.optionsNameContainer{
    width: 100%;
    padding: 10px;
    font-size: var(--product-notation);
    border-bottom:var(--wireframethick);
    border-top: var(--wireframethick);
}

.optionsNameContainer.topContainer {
   border-top: none;
}


.optionValuesContainer{
    padding: 6% 16%;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--product-notation);
    justify-content: space-between;
}

.optionValuesContainer label{
    flex-basis: calc(100% / 7);
    text-align: center;
    padding: 1rem 0rem;
    transition: border 0.2s ease-in;
    border: 1px solid transparent;
    border-radius: 200px;
    cursor: pointer;
    text-transform: uppercase;
}

.optionValuesContainer:last-child label {
   padding: 0rem 1rem;
}

input[type="radio"]:checked+label{ 
    font-weight: bold; 
    border: 1px solid black;
    border-radius: 200px;
} 

.productQty{
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--product-notation);
    justify-content: space-between;
}
.qty--wrapper{
   display: flex;
   font-size: calc( 1.5 * var(--product-notation));
}
.qty--button {
   font-size: calc( 1.5 * var(--product-notation));
   margin: 0 10px;
   cursor: pointer;
}

.stickyATC{
    cursor: pointer;
    position: fixed;
    width: 100vw;
    padding: 0.8%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    bottom: 0;
    left: 0;
    background: var(--marshmellow);
}

.stickyATC:hover {
   background-color: var(--accent-brown);
   /* opacity: 0.5; */
}

.stickySpacer{
   height: 12px;
   width: 24px;
   margin: 0% 0.5%;
   border: 1px solid black;
   border-radius: 20px;
}

.Mobile--ProductImage{
    width: 100%;
}

.Mobile--ProductImage img{
    width: 100%;
    max-width: 100%;
}

@media screen and (width < 649px){

.Mobile--ProductSlider{
}

.flickity-page-dots{
    bottom: -30px;
}

.flickity-prev-next-button{
    top:unset;
    transform:unset;
    background: transparent;
}

.flickity-page-dots .dot{
width: 30px;
transition: all 0.2s ease-in;
border-radius: 5px;
border: 1px solid black;
}
    .data-variant-price{
        display:none;
    }
    .ProductMedia--Container{
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .Product--Image{
        width: 100%;
        padding:0;
    }

    .Product--Image img{
        width: 100%;
        height: auto;
    }

    .ProductMedia{
        display:none;
    }

    .ProductMedia--Mobile{
        display:block!important;
        min-height: 50vh;
    }

    .ProductMeta--Container, .ProductVariant--Container{
        position: static;
        width: 100%;
    }
    .ProductVariant--Container{
    order: 2;
    margin-top: 50px;
    }
    
    .ProductContainer{
        display: flex;
        flex-direction: column;
    }

    .ProductMeta--Container{
        order: 2;
    }

    .ProductMeta{
        position: static;
    }
}
