/* SEARCH */

.noresults {
   width: 100%;
   text-align: center;
   text-transform: uppercase;
   font-family: "Pressura";
   
}


/* SHOP ALL */

/* filter  */
.filters-wrapper {
   /* display:none; */
   border-bottom: var(--wireframe);
   border-top: var(--wireframe);
   position: sticky;
   width: 100vw; max-width: 100vw;
   top: var(--navHeight);
   z-index: 2;
   background-color: var(--marshmellow);
   height: auto;
   transition: all 0.2s ease;
}


.filter-form {
   display: grid;
   grid-template-columns: repeat(3, 1fr) 0.2fr 1fr;
   margin: 0 var(--margin);
   justify-items: center;
   align-items: baseline;
   padding: 0.2%;
   height: auto;
   max-height: 100%;
   transition: all 0.2s ease-in;
}

.filter-group-collection {
   /* padding: 2% 24%; */
   min-width: 12vw;
}

.filter-group-collection ul {
   text-decoration: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
}

.item-filter_title {
   text-decoration: none;
   list-style: none;
   font-family: "Exposure";
   font-size: var(--filter-exposure);
   transition: all 0.2s ease-out;
}
.item-filter_title a:hover {
   font-variation-settings: 'EXPO'-40;
}

.item-filter_title a[aria-current="true"] {
   font-variation-settings: 'EXPO'-40;
}

.filter-group {
   /* outline: 1px solid green; */
   /* height: 100%; */
   padding: 0.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.filter-group p {
   white-space: nowrap;
}

.line {
   margin: 0 6%;
}

.filter-value {
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: var(--filter-notation);
   transition: all 0.1s ease;
}

.filter-label {
   font-family: "Exposure";
   font-size: var(--filter-exposure);
}

.toggleViewBtn {
   display: flex;
   font-family: "Pressura";
   font-size: var(--filter-notation);
   align-items: center;
   width: 50%;
   grid-area: 1 / 5;
}

.toggle_label {
   margin: 0px 4%;
}

.slider-ui {
   width: 100%;
   position: relative;
}

.slider-ui .pill-tiny {
   background-color: var(--marshmellow);
}

.pill-tiny.active {
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%);
}

.slider-ui .line {
   margin: unset;
}


.details {
   overflow: hidden;
   position: relative;
   margin: 2%;
   min-width: 16vw;
   transform-origin: top;
   transition: all 0.1s ease-in-out;
}


.group-transition {
   background-color: var(--marshmellow);
   overflow-y: scroll;
   overflow-x: hidden;
   height: 0;
   width: 100%;
   transform-origin: top;
   transform: scaleY(0);
   opacity: 0;
   transition: all 0.4s ease-in;
}

.grow {
   height: 15vh;
   transform: scaleY(1);
   opacity: 1;
   transition: all 0.4s ease-in;
}
.growLarge {
   height: 24vh;
   transform: scaleY(1);
   opacity: 1;
   transition: all 0.4s ease-in;
}

.filter-group-display__list {
   position: relative;
   list-style: none;
   display: grid;
   padding-left: 4vw
}

.list-color {
   /* align-items: center;
   grid-template-columns: 1fr;
   gap: 0.5rem; */
   /* padding-left: 4vw */
}

.list-color label {
   font-family: "Exposure";
   font-size: 1.6rem;
   cursor: pointer;
   font-variation-settings: 'EXPO'20;
}

.list-size {
   grid-template-columns: repeat(6, 1fr);
   /* width: 100%;
   height: 150%; */
   justify-items: center;
   align-items: center;
   /* gap: 0px 22px; */
   padding: 0;
   /* margin-bottom: 2rem; */
}

.list-size li {
   display: contents;
}

.list-size label:hover {
   border: 1px solid black;
   border-radius: 50px;
}

.list-size label {
   font-family: "Pressura";
   font-size: var(--filter-notation);
   padding: 24%;
   white-space: nowrap;
   cursor: pointer;
   box-sizing: content-box;
}

.filter-group-display__submit {
   bottom: 0;
   padding: 6%;
   position: absolute;
   cursor: pointer;

}

.filter-group-display__submit input {
   background: none;
   outline: none;
   border: none;
   font-size: 0.8rem;
   font-family: "Pressura";
   text-transform: uppercase;
   transition: all 0.2s ease;
}


@keyframes noblur {
   0% {
      filter: blur(5px);
   }

   100% {
      filter: blur(0px);
   }
}


.product-grid {
   /* mix-blend-mode: multiply; */
   margin-left: var(--margin);
   margin-right: var(--margin);
   animation: noblur 0.8s ease-in;

}

.row {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 1fr 1fr;
   transition: all 0.6s ease;
}

.row.oddResizer {
   grid-auto-flow: row;
   grid-template-columns: 2fr 1fr 0fr;
   transition: all 0.6s ease;
}

.rowChild {
   grid-column: span 1;
   width: 100%;
   margin-inline: auto;
   transition: width 0.6s ease;
}

.rowChild.widen {
   grid-column: span 2;
   width: 100%;
   transition: width 0.6s ease;
}

.product-card {
   /* box-shadow: rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px -1px 0px; */
   box-shadow: rgb(0, 0, 0) 1px 1px 0px, rgb(0, 0, 0) -1px -1px 0px;
   width: 100%;
   height: 30vw;

}

.row>.product-card:first-child {
   box-shadow: rgb(0, 0, 0) 0px 1px 0px, rgb(0, 0, 0) 1px -1px 0px;
}

.row>.product-card:last-child {
   /* box-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) -1px 1px 0px; */
   /* opacity: 0; */
}

.card-img {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}


.card--header {

   width: 100%;
   display: flex;
   justify-content: space-between;
}

.card--footer {

   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}




.product-buynow {
   all: initial;
   position: relative;
   font-size: var(--shop-card-notation);
   font-family: "Pressura";
   text-transform: uppercase;
   white-space: nowrap;
   align-items: center;
   display: flex;
   margin: 5px;
}

.link-text {
   margin-left: 36%;
   transform: translateX(0px);
   transition: all 0.2s ease;
}

.slider-ui:hover .pill-tiny {
   background-color: var(--red);
   cursor: pointer;
}

.product-buynow:hover,
.filter-group-display__submit input:hover {
   cursor: pointer;
}

.product-buynow:hover .pill-tiny,
.filter-group-display__submit:hover .pill-tiny {
   transform: translate(-0%, -50%) rotate(45deg);
}

.product-buynow:hover .link-text,
.filter-group-display__submit:hover .applychanges {
   transform: translateX(8%);
}

.optionValuesContainer .CartItem--remove{
   position: absolute;
   left: 10px;
   top: 10px;
}

/* Product Cards */

.CartItem--remove {
   margin: 2%;
}

.VariantSelectors--Ajax{
   position: absolute;
   transform: translateY(100%);
   font-size: 1rem;
   bottom: 0;
   transition: all 0.2s ease-in-out;
   width: 100%;
   z-index: 1;
   
}

.optionValuesContainer  {
   flex-direction: column;
   margin: unset;
   padding-top: 2%;
   padding-bottom: 2%;
   padding-left: max(2%, 30%);
   padding-right: max(2%, 20%);
   
} 


.optionValuesContainer .ColorValues label {
text-transform: none;
font-size: 1.4rem;
text-align: left;
padding: 0.2rem 0.3rem;
}
.optionsNameContainer {
   padding-right: 5vw;
}
.VariantSelectors--Ajax.display{
   transform: translateY(0%);
   background: var(--marshmellow);
   border: var(--wireframe);
}

.CardValues{
   width: 70%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
}

.ColorValues{
   flex-direction: column;
   font-family: "Exposure";
   max-height: 10vh;
   flex-wrap: nowrap;
}

.ColorValues input[type="radio"]:checked+label{
   border-color: transparent!important;
   font-weight: bold;
   font-variation-settings: 'EXPO'-50
}


.VariantSelectors--Ajax .optionsNameContainer{
   border: none;
   display:flex;
   align-items: center;
}


.loadmorebtn {
   border-top: var(--wireframe);
   font-family: "Pressura";
   font-size: 0.8rem;
   display: block;
   width: 100%;
   padding: 0.5rem;
   text-align: center;
}

.loadmorebtn a {
   color: black;
}


.loadmorebtn a:hover {
   color: var(--red);
}


.clear {
   font-family: "Pressura";
   font-size: 0.8rem;
   min-width: auto;
}
.clear:hover {
   font-family: "Pressura Medium";
}

.checkbox-color:disabled+.label-color {
   color: black;
   text-decoration: line-through;
   pointer-events: none;
}

.filter-group:hover {
   font-variation-settings: 'EXPO'-40;
   cursor: pointer;
}

.checkbox-size:checked+.label-size {
   border-radius: 80px;
   border: var(--wireframe);
}

.checkbox-color:checked+.label-color {
   font-variation-settings: 'EXPO'-40;
   cursor: pointer;
}

.label-color:hover {
   font-variation-settings: 'EXPO'-40;
   cursor: pointer;
}

.product-grid.random .row:first-child {
   /* opacity: 50%;  */
   /* transition:all 0.2s ease; */
}

.row {
   border-top: var(--wireframe);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

   .product-card {
      box-shadow: rgb(0, 0, 0) 0.5px 0.5px 0px, rgb(0, 0, 0) -0.5px -0.5px 0px;
   }

   .row .product-card:first-child {
      box-shadow: rgb(0, 0, 0) 0.5px 0.5px 0px, rgb(0, 0, 0) 0px -0.5px 0px;
   }

   /* .row .product-card:last-child:not(:only-child) {
      box-shadow: rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) -0.5px -0.5px 0px;
   } */

   .row .product-card:nth-of-type(2n) {
      /* opacity: 0; */
   }
   .row .product-card:nth-of-type(3n) {
      box-shadow: rgb(0, 0, 0) -0.5px 0.5px 0px, rgb(0, 0, 0) -0.5px -0.5px 0px;
   }
}

.toggleViewBtn {
   display: none;
}

@media screen and (max-width: 649px) { 
   :root {
      --filter-notation: 1rem;
      --filter-exposure: 1rem;
   }
   .row {
      display: flex;
      flex-direction: column;
      margin: 0 calc(var(--margin) / 2);
   }
   .row .product-card {
      box-shadow: unset;
   }
   .row .product-card:first-child {
      box-shadow: unset;
    }

    .optionValuesContainer {
    
      padding-left: max(2%, 20%);
    }

    .filters-wrapper {
      display: none;
    }
    
    .filter-form {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       margin: 0;
    }

   .toggleViewBtn {
      display: none;
   }
    .Menu--middle {
      font-family: "Pressura";
      font-size: 0.8rem;
    }
    .MobileMenu--Content li a {
      font-family: "Exposure";
      font-size: 1.4rem;
      text-transform: none;
    }

    .filter-group-collection { 
      width: 100%;
      border-top: 1px solid black;
      /* border-bottom: 1px solid black; */
    }

    .filter-group-collection ul {
      justify-content: space-evenly;
      padding: 1.8rem 0;
    }
    .details {
      width: 100%;
      padding: 2vw 10vw;
      border-top: 1px solid black;
      margin: 0;
    }
    .details:last-child {
      border-bottom: 1px solid black;
    }

    .list-size, .list-color {
      margin: 0;
    }
    .clear {
      min-width: 100vw;
      padding: 4vw 18vw;
      /* border-top: 1px solid black; */
      margin: 0 calc(var(--margin) / 2);
      text-align: center;
    }
}