/* SHOP ALL */

/* filter  */
.filters-wrapper {
   border-bottom: var(--wireframe);
   position: sticky;
   width: 100vw;
   top: 8.7%;
   z-index: 1;
   background-color: var(--marshmellow);
   height: auto;
   transition: all 0.5s ease;
}


.filter-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.2fr 1fr;
    margin: 0 var(--margin);
    justify-items: center;
    align-items: center;
    padding: 0.2%;
    
}

.filter-group-collection {
   /* padding: 2% 24%; */
   min-width: 12vw;
}

.filter-group-collection ul {
   text-decoration: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100%;
}


.item-filter_title {
   text-decoration: none;
   list-style: none;
   font-family: "Exposure";
   font-size: 1rem;
   transition: all 0.2s ease-out;
}

.item-filter_title:hover { 
   font-variation-settings: 'EXPO'-40;
}

.item-filter_title a[aria-current="true"] {
   font-variation-settings: 'EXPO'-40;
}

details .group-transition{
   transform-origin: top;
   transform: scaleY(0);
   transition: transform 0.1s ease-in-out;
}

details[open] .group-transition{
   
   transform: scaleY(1);
}

details summary::-webkit-details-marker {
   display:none;
 }
 details > summary {
   list-style: none;
 }
 details > summary::-webkit-details-marker {
   display: none;
 }

 details {
   position: relative;
   margin: 2%;
   min-width: 16vw;
 }

details .filter-group:hover {
   font-variation-settings: 'EXPO'-40;
   cursor: pointer;
}
 
 .filter-group {
   /* outline: 1px solid green; */
   height: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .filter-group p {
   white-space: nowrap;
 }

 .line {
   margin: 0 6%;
 }

.filter-value {
   font-family: "Pressura";
   text-transform: uppercase;
   font-size: 0.8rem;
transition: all 0.1s ease;
}

.filter-label {
   font-family: "Exposure";
   font-size: 1rem
}

 .toggleViewBtn {
   display: flex;
   font-family: "Pressura";
   align-items: center;
   width: 50%;
   grid-area: 1 / 5;
 }

 .slider-ui {
   width: 100%;
   position: relative;
   margin: 0 8%
 }

 .pill-tiny.active {
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%);
 }

 .slider-ui .line {
   margin: 0 10%;
 }

 .group-transition {
   background-color: var(--marshmellow);
   position: absolute;
   right: 0;
   padding: 8%;
   top: 150%;
   height: auto;
   box-shadow: rgb(0, 0, 0) 0.5px 0.5px 0px, rgb(0, 0, 0) -0.5px 0.5px 0px;
 }

.filter-group-display__list {
   margin: 0;
   position: relative;
   list-style: none;   
    display: grid;
}

.list-color {
   align-items: center;
   grid-template-columns: 1fr;
   gap: 0.5rem;
   max-height: 60%;
   margin: -4% 0% 20% 0%;
   overflow-y: scroll;
}

.list-color label{
   font-family: "Exposure";
   font-size: 1.6rem;
  cursor: pointer;
  font-variation-settings: 'EXPO' 20;
}

.list-size {
   grid-template-columns: repeat(6, 1fr);
   width: 100%;
   height: 150%;
   justify-items: center;
   align-items: center;
   gap: 0px 22px;
   padding: 0;
   margin-bottom: 2rem;
}

.list-size li {
   display: contents;
}


.list-size label{
   font-family: "Pressura";
   font-size: 1rem;
   padding:60%;
  cursor: pointer;
 box-sizing: content-box;
}

.filter-group-display__submit {
   bottom: 0;
   padding: 6%;
   position: absolute;
   cursor: pointer; 
   
}

.filter-group-display__submit input {
   background: none;
   outline: none;
   border: none;
   font-size: 0.8rem;
   font-family: "Pressura";
   text-transform: uppercase;
   transition: all 0.2s ease;
}


 @keyframes noblur {
   0% {
      filter: blur(5px);
   } 
   100% {
      filter: blur(0px);
   }
 }


.product-grid {
   mix-blend-mode: multiply;
   margin-left: var(--margin);
   margin-right: var(--margin); 
   animation: noblur 0.8s ease-in;
  
}

.row {
   display: grid;
   grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.6s ease;
}

.row.oddResizer {
   grid-auto-flow: row;
   grid-template-columns: 2fr 1fr 0fr;
   transition: all 0.6s ease;
}

.rowChild {
   grid-column: span 1;
   width: 100%;
   margin-inline: auto;
   transition: width 0.6s ease;
}

.rowChild.widen {
   grid-column: span 2;
   width: 100%;
   transition: width 0.6s ease;
}

 @keyframes widen {
   0% {
     width: 0%;
   }
   100% {
     width: 100%;
   }
 }


@keyframes resize {
   0% {
     grid-template-columns: 1fr 1fr 1fr;
   }
   
   100% {
      grid-template-columns: 2fr 1fr;
   }
   
 }

.product-card {
 
   box-shadow: rgb(0, 0, 0) 0.5px 1px 0px, rgb(0, 0, 0) 0px 0px 0px;
   width: 100%;
  height: 30vw;
}


.card-img {
   width: 100%;
   height: 100%;
   mix-blend-mode: multiply;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.card-content {
  
   margin: calc(var(--margin)/2);
   font-size: var(--shop-notation);
   display: grid;
   grid-template-areas:
      "title type"
      "buybtn price";
}

.product-title {
   grid-area: title;
   align-self: start;
   justify-self: start;
}

.product-type {
   grid-area: type;
   align-self: start;
   justify-self: end;
}

.product-price {
   grid-area: price;
   align-self: end;
   justify-self: end;
}

.product-buynow {
   all: initial;
   position: relative;
   grid-area: buybtn;
   align-self: end;
   justify-self: start;
   font-size: var(--shop-notation);
   font-family: "Pressura";
   white-space: nowrap;
   align-items: center;
  display: flex;
  margin: 2% 1%;
}

.link-text {
   margin-left: 36%;
   transform: translateX(0px);
   transition: all 0.2s ease;
}

.slider-ui:hover .pill-tiny{
   background-color: var(--red);
   cursor: pointer;
}

.product-buynow:hover, .filter-group-display__submit input:hover {
   cursor: pointer;
}

.product-buynow:hover .pill-tiny, .filter-group-display__submit:hover .pill-tiny  {
   transform: translate(-0%, -50%) rotate(45deg);
}
.product-buynow:hover .link-text, .filter-group-display__submit:hover .applychanges  {
   transform: translateX(8%);
}

.stacked {
    font-family: "Pressura";
    text-transform: uppercase;
}

.stacked>* {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}

.loadmorebtn {
   border-top: var(--wireframe);
   font-family: "Pressura";
   font-size: 0.8rem;
   display: block;
   width: 100%;
   padding: 0.5rem;
   text-align: center;
}
.loadmorebtn a {
   color: black;
}


.loadmorebtn a:hover {
   color: var(--red);
}


.clear {
   font-family: "Pressura";
   font-size: 0.8rem;
   min-width: auto;
 }

 @keyframes rollOut {
   0% {
      transform: scaleY(0);
      
   }
   100% {
      transform: scaleY(1);
   }
 }
 details[open] > .filter-form {
   transform-origin: top;
   animation-name: rollOut;
   animation-duration: 1s;
 }

 .filter-form {
   transform-origin: top;
   animation-name: rollOut;
   animation-duration: 1s;
 }
 
 .checkbox-color:disabled + .label-color {
   color: black;
   text-decoration: line-through;
   pointer-events: none;
 }


 .checkbox-color:disabled + .applychanges {
   opacity: 0.2;
   pointer-events: none;
 }

 .checkbox-size:checked + .label-size {
   border-radius: 80px;
   border: var(--wireframe);
 }