{{ 'about.css' | asset_url | stylesheet_tag }}

<div class="about-content">
  <section class="about-proto">
    <div class="about-text" ">
      <p>{{ page.content }}</p>
    </div>
    <div class="subtext">
      <p>Practice is
        <span>Perfect</span>
      </p>
      {% comment %} <p>{{ section.settings.subtext }}</p> {% endcomment %}
    </div>
  </section>
</div>