<div data-section-type="collection" data-section-id="{{section.id}}">
  {% paginate search.results by 9 %}
    {{ 'shop.css' | asset_url | stylesheet_tag }}

    {% if search.performed %}
      <div data-next-page class="product-grid">
        {% for item in search.results %}
          {% cycle '<div class="row">', '', '' %}

          {% render 'product-card', product: item %}

          {% cycle '', '', '</div>' %}
        {% endfor %}
        {% if search.results_count == 0 %}
          <div class="row" style="grid-template-columns: 1fr"> 
          <a class="Button" style="font-size: 15px; text-align: center; padding: 10px" href="/collections/all">
            No results. Go to all Products
          </a>
          </div>
        {% endif %}
      </div>

    {% else %}
      <div class="noresults">NO RESULTS.
        <a href="/collections/all">BACK TO PRODUCTS?</a>
      </div>
    {% endif %}

    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}{% endif %}
  {% endpaginate %}
</div>