<div data-section-type="collection" data-section-id="{{section.id}}">
{% paginate search.results by 10 %}
{{ 'shop.css' | asset_url | stylesheet_tag }}

  {% if search.performed %}
    <div data-next-page class="product-grid">
      {% for item in search.results %}
        {% assign newrow = forloop.index | modulo: 3 %}
        {% if newrow  == 0 %}
          <div class="row">
          {% endif %}
        {% render 'product-card', product: item %}
        {% if newrow  == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% else %}
      no results
  {% endif %}

  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
</div>